@include font-face("Montserrat-Regular", $fonts + "Montserrat-Regular");
@include font-face("Montserrat-Medium", $fonts + "Montserrat-Medium");
@include font-face("Montserrat-SemiBold", $fonts + "Montserrat-SemiBold");
@include font-face("Montserrat-Bold", $fonts + "Montserrat-Bold");
@include font-face("Montserrat-Italic", $fonts + "Montserrat-RegularItalic");

body {
  display: block;
  background: url($assets+"/images/homepage_background_image.jpg") no-repeat
    center center fixed;
  font-family: "Montserrat-Regular";
  @include backgroundSize(cover);

  @include media-breakpoint-down(md) {
    background: url($assets+"/images/mobile/homepage_background_image.jpg") no-repeat
    center center fixed;
    font-family: "Montserrat-Regular";
    @include backgroundSize(cover);
  }

  @include media-breakpoint-only(md) {
    background: url($assets+"/images/mobile/homepage_background_image_tablet.jpg") no-repeat
    center center fixed;
    font-family: "Montserrat-Regular";
    @include backgroundSize(cover);
  }
}

html {
  height: 100%;
  overflow: hidden;
  line-height: 1.5;

  body,
  #app,
  .our-company,
  .what-we-do,
  .our-brands,
  .our-brands-details,
  .global-footprint,
  .news,
  .page-not-found {
    @extend html;

    .vue-scroll {
      & > div {
        & > div {
          height: 100%;
        }
      }
    }
  }

  .our-company,
  .what-we-do,
  .our-brands,
  .global-footprint,
  .news {
    position: relative;
    z-index: 1;

    .page {
      @include orientation(portrait) {
        height: auto !important;
      }

      .mobile-bottom-items {
        display: none;
      }
    }
  }

  .container {
    @include media-breakpoint-bigger(1500px) {
      max-width: 1400px;
    }
  }
}

.delay-300ms {
  @include animationDelay(300);
}

.delay-500ms {
  @include animationDelay(500);
}

.delay-800ms {
  @include animationDelay(800);
}

.duration-1500ms {
  @include animationDuration(1500);
}
