<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

import { Cigarrette } from "@/data-model";

import { LocalizationService, CigarretteService } from "@/services";

@Component
export default class BrandsDetailsMixin extends Vue {
  private bgImagePositionX: number = 0;
  private cigarretteService: CigarretteService = new CigarretteService();
  private cigarrette: Cigarrette = new Cigarrette();

  created() {
    this.getCigarretteItems();
  }

  private getCigarretteItems(): void {
    let cigarrettes = this.cigarretteService.getCigarrettes();
    let cigarretteData = this.cigarretteService.getCigarretteData(
      this.$route.params["name"]
    );

    Promise.all([cigarrettes, cigarretteData])
      .then(([cigarrettes, cigarretteData]) => {
        this.cigarrette = cigarretteData;
      })
      .catch(err => {
        console.error(err);
      });
  }

  private getImageUrl(url: string): string {
    return require(`@/assets/images/cigarrettes/${url}`);
  }
}
</script>

<style lang="scss">
.our-brands-details {
  .our-brands-details-page {
    position: relative;
    padding: 90px 0 0 0;

    @include media-breakpoint-down(sm) {
      @include orientation(portrait) {
        padding-top: 66px;
      }
    }

    .bg-image {
      background: $burlyWood url("~@/assets/images/leaf.jpg") center / cover
        no-repeat;
    }

    .back {
      position: absolute;
      left: 30px;
      top: 120px;
      z-index: 5;

      @include media-breakpoint-down(sm) {
        top: 80px;
        left: 10px;
      }

      a {
        font-family: "Montserrat-Regular";
        font-size: 16px;
        color: $dirtyWhite;
        line-height: normal;
        margin-left: 6px;

        .fa-arrow-left {
          margin-top: -4px;
        }
      }
    }

    .text-overlay {
      position: absolute;
      top: 170px;
      left: 110px;
      max-width: 570px;

      @include media-breakpoint-down(lg) {
        top: 150px;
        max-width: 600px;
      }

      @include media-breakpoint-down(md) {
        top: 120px;
        left: 150px;
        max-width: initial;
      }

      @include media-breakpoint-down(sm) {
        position: relative;
        top: 0;
        left: 0;
        padding: 0 15px;
        overflow-x: hidden;
      }

      @include media-breakpoint-bigger(1500px) {
        top: 200px;
      }

      @include media-breakpoint-bigger(1800px) {
        top: 220px;
      }

      img {
        position: absolute;
        height: 100%;
        max-width: initial;
        left: -50%;
        z-index: -10;
      }

      h1 {
        font-family: "Montserrat-Medium";
        font-size: 56px;
        color: $dirtyWhite;
        line-height: normal;
        text-transform: capitalize;

        @include media-breakpoint-down(md) {
          font-size: 24px;
        }

        @include media-breakpoint-down(sm) {
          margin: 10px auto;
        }

        @include media-breakpoint-bigger(1367px) {
          margin-bottom: 20px;
        }

        @include media-breakpoint-bigger(1500px) {
          margin-bottom: 40px;
        }

        @include media-breakpoint-bigger(1650px) {
          margin-bottom: 60px;
        }

        @include media-breakpoint-bigger(1800px) {
          margin-bottom: 80px;
        }
      }

      p {
        font-family: "Montserrat-Regular";
        font-size: 16px;
        color: $dirtyWhite;
        line-height: 29px;
        margin-bottom: 20px;

        @include media-breakpoint-down(lg) {
          margin-bottom: 10px;
          line-height: 24px;
        }

        @include media-breakpoint-down(sm) {
          font-size: 13px;
          line-height: 24px;
          margin-bottom: 15px;
        }

        @include media-breakpoint-bigger(1500px) {
          font-size: 20px;
        }
      }
    }

    .items {
      padding: 35px 0 0 0;
      background: #e7e0dd;

      @include media-breakpoint-down(sm) {
        padding-top: 30px;
      }

      .cigarrette-category {
        margin-bottom: 60px;

        @include media-breakpoint-down(sm) {
          margin-bottom: 15px;
        }

        .nav-link {
          font-family: "Montserrat-SemiBold";
          font-size: 14px;
          color: #211b19;
          text-align: center;
          line-height: normal;
          padding: 5px 17px;
          margin: 0 15px;
          background: none;
          border-radius: 0;
          @include transition(border, 0.2s);

          @include media-breakpoint-down(sm) {
            font-size: 14px;
            margin: 0 10px;
          }

          &.active,
          &:hover {
            border-bottom: 2px solid #a98970;
            outline: none;
          }
        }
      }

      .cigarrette-item {
        margin-bottom: 70px;

        @include media-breakpoint-down(sm) {
          padding: 0 30px;
          margin-bottom: 30px;
        }

        img {
          max-height: 320px;
          margin: 0 auto 35px auto;

          @include media-breakpoint-down(sm) {
            margin: 0 auto 15px auto;
            align-self: baseline;
          }
        }

        h4 {
          font-family: "Montserrat-SemiBold";
          font-size: 24px;
          color: #493d32;
          line-height: normal;
          width: 100%;
          text-transform: uppercase;

          @include media-breakpoint-down(md) {
            font-size: 20px;
          }

          @include media-breakpoint-down(sm) {
            font-size: 16px;
          }
        }
      }
    }
  }
}
</style>
