<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

import { SlidePage, Cigarrette } from "@/data-model";

import { LocalizationService, CigarretteService } from "@/services";
import { RouteNameUtil } from "@/utils";

@Component
export default class BrandsMixin extends Vue {
  private bgImagePositionX: number = 0;
  private slidePages: SlidePage[] = [];
  private slidePageOurBrands: SlidePage;
  private cigarretteService: CigarretteService = new CigarretteService();
  private cigarrettes: Cigarrette[] = [];
  private totalDummyCigarretteItems: number = 12;

  created() {
    this.setSlidePage();
  }

  public scrollToCigarretteBlock(): void {
    if (this.$route.hash === "#cigarrette-block")
      (this.$refs["vs"] as any).scrollTo({
        y: (this.$refs["cigarrette-block"] as any).offsetTop
      });
  }

  private setSlidePage(): void {
    this.slidePageOurBrands = new SlidePage(
      this.translate("global.ourBrands"),
      this.translate("home.ourBrandsText"),
      "our_brands.jpg"
    );

    this.slidePages.push(this.slidePageOurBrands);
  }

  public getCigarretteItems(ourBrands: boolean): void {
    this.cigarretteService.getCigarrettes().then(cigarrettes => {
      this.cigarrettes = cigarrettes.filter(cigarrette =>
        ourBrands ? cigarrette.ourBrandsPoster : !cigarrette.ourBrandsPoster
      );
    });
  }

  private getCigarretteImage(cigarrette: Cigarrette): any {
    return this.cigarretteService.getImage(cigarrette.image);
  }

  public openCigarrettePage(pageName: string, cigarretteName: string): void {
    this.$router.push({
      name: pageName,
      params: {
        name: RouteNameUtil.getRouteName(cigarretteName)
      }
    });
  }

  public goToOtherBrands(): void {
    this.$router.push({
      name: "otherBrands"
    });
  }

  private translate(label: string): string {
    return LocalizationService.textTranslate(label);
  }
}
</script>

<style lang="scss">
.our-brands {
  .our-brands-details-page {
    position: relative;
    padding: 90px 0 0 0;

    @include media-breakpoint-down(sm) {
      @include orientation(portrait) {
        padding-top: 66px;
      }
    }

    .bg-image {
      background: $burlyWood url("~@/assets/images/leaf.jpg") center / cover
        no-repeat;
    }

    .back {
      position: absolute;
      left: 30px;
      top: 120px;
      z-index: 5;

      @include media-breakpoint-down(sm) {
        top: 80px;
        left: 10px;
      }

      a {
        font-family: "Montserrat-Regular";
        font-size: 16px;
        color: $dirtyWhite;
        line-height: normal;
        margin-left: 6px;

        .fa-arrow-left {
          margin-top: -4px;
        }
      }
    }

    .text-overlay {
      position: absolute;
      top: 170px;
      left: 110px;
      max-width: 570px;

      @include media-breakpoint-down(lg) {
        top: 150px;
        max-width: 600px;
      }

      @include media-breakpoint-down(md) {
        top: 120px;
        left: 150px;
        max-width: initial;
      }

      @include media-breakpoint-down(sm) {
        position: relative;
        top: 0;
        left: 0;
        padding: 0 15px;
        overflow-x: hidden;
      }

      @include media-breakpoint-bigger(1500px) {
        top: 200px;
      }

      @include media-breakpoint-bigger(1800px) {
        top: 220px;
      }

      img {
        position: absolute;
        height: 100%;
        max-width: initial;
        left: -50%;
        z-index: -10;

        @include media-breakpoint-down(sm) {
          left: 0;
        }
      }

      h1 {
        font-family: "Montserrat-Medium";
        font-size: 56px;
        color: $dirtyWhite;
        line-height: normal;
        text-transform: capitalize;

        @include media-breakpoint-down(md) {
          position: absolute;
          font-size: 24px;
          line-height: 150px;
          width: 200px;
          left: -115px;
        }

        @include media-breakpoint-down(sm) {
          margin: 10px auto;
          position: relative;
          width: auto;
          left: inherit;
        }

        @include media-breakpoint-bigger(1367px) {
          margin-bottom: 20px;
        }

        @include media-breakpoint-bigger(1500px) {
          margin-bottom: 40px;
        }

        @include media-breakpoint-bigger(1650px) {
          margin-bottom: 60px;
        }

        @include media-breakpoint-bigger(1800px) {
          margin-bottom: 80px;
        }
      }

      p {
        font-family: "Montserrat-Regular";
        font-size: 16px;
        color: $dirtyWhite;
        line-height: 29px;
        margin-bottom: 20px;

        @include media-breakpoint-down(lg) {
          margin-bottom: 10px;
          line-height: 24px;
        }

        @include media-breakpoint-down(sm) {
          font-size: 13px;
          line-height: 24px;
          margin-bottom: 15px;
        }

        @include media-breakpoint-bigger(1500px) {
          font-size: 20px;
        }
      }
    }
  }
  .cigarrette-block {
    padding-top: 30px;
    background: $burlyWood;

    .container {
      &:first-child {
        padding: 0;

        @include media-breakpoint-down(sm) {
          padding: 0 15px;
        }
      }
    }

    &:first-child {
      .cigarrette-block-item {
        margin-top: 0;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }

    .cigarrette-block-item {
      margin: 0 0 30px 0;
      padding: 40px 10px 20px 10px;
      background: transparent url("~@/assets/images/cigarrette-pack-bg.png")
        center / cover no-repeat;

      @include media-breakpoint-down(sm) {
        padding: 10px;
      }

      img {
        padding: 0 30px;
        margin-bottom: 30px;

        @include media-breakpoint-down(sm) {
          margin: 0 0 10px 0;
        }
      }

      h2 {
        font-family: "Montserrat-SemiBold";
        font-size: 26px;
        color: #5e5044;
        margin-bottom: 10px;
        line-height: normal;
        text-transform: uppercase;

        @include media-breakpoint-down(sm) {
          font-size: 20px;
          margin-bottom: 10px;
        }
      }

      p {
        font-family: "Montserrat-Italic";
        color: #5e5044;
        font-size: 14px;
        line-height: normal;
        margin-bottom: 30px;

        @include media-breakpoint-down(sm) {
          font-size: 13px;
          margin-bottom: 10px;
        }
      }

      button {
        font-family: "Montserrat-Medium";
        font-size: 14px;
        border-radius: 0;
        border: 1px solid #5e5044;
        background: transparent;
        line-height: 48px;
        margin: 0;
        padding: 0 25px;
        color: #5e5044;

        &:hover {
          background: #5e5044;
          color: $dirtyWhite;
        }

        @include media-breakpoint-down(sm) {
          font-size: 13px;
          line-height: 28px;
          padding: 0 15px;
        }
      }
    }
  }
}
</style>
