<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

import { EventBus } from "@/services";

@Component
export default class ScrollMixin extends Vue {
  private prevScrollPos: number = 0;
  private currentScrollPos: number = 0;

  private handleScroll(vertical: any, horizontal: any, event: any) {
    this.currentScrollPos = vertical.scrollTop;
    if (
      this.prevScrollPos < this.currentScrollPos &&
      this.currentScrollPos > 150
    ) {
      EventBus.$emit("visibleHeader", false, this.currentScrollPos);
    } else {
      EventBus.$emit("visibleHeader", true, this.currentScrollPos);
    }
    this.prevScrollPos = this.currentScrollPos;
  }
}
</script>

<style lang="scss" scoped>
.page {
  overflow: initial;
  height: 100%;

  @include media-breakpoint-down(lg) {
    height: calc(100% - 106px);
  }

  @include media-breakpoint-down(sm) {
    height: calc(100% - 66px);
  }
}
</style>
