<template>
  <div
    class="age-verification flex-column align-items-center justify-content-center"
  >
    <template v-if="!privacyPolicyVisible">
      <h1>{{ $t("ageVerification.title") }}</h1>
      <p class="confirm-age text-center">
        {{ $t("ageVerification.pleaseConfirmAge") }}
      </p>
      <div class="verification-answers text-center">
        <b-button squared @click="verification(true)">
          {{ $t("ageVerification.accept") }}
        </b-button>
        <b-button squared @click="verification(false)">{{
          $t("ageVerification.decline")
        }}</b-button>
        <div class="tip-and-links text-center">
          <p v-if="!legalAge" class="warning text-danger">
            {{ $t("ageVerification.accessDenied") }}
          </p>
          <p>
            {{ $t("ageVerification.clickingAccept") }}
            <b-link @click="togglePrivacyPolicy">
              <u>{{ $t("ageVerification.personalDataProtectionPolicy") }}</u>
            </b-link>
          </p>
        </div>
      </div>
    </template>
    <template v-else>
      <div class="back">
        <b-link @click="togglePrivacyPolicy">
          <font-awesome-icon :icon="['fa', 'arrow-left']" color="#191614" />
          {{ $t("global.back") }}
        </b-link>
      </div>

      <PrivacyPolicy />
    </template>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

import PrivacyPolicy from "./PrivacyPolicy.vue";

import { SessionStorageService } from "@/services";

@Component({
  components: {
    PrivacyPolicy
  }
})
export default class AgeVerification extends Vue {
  private sessionStorageService: SessionStorageService;
  private ageVerified: string = "ageVerified";
  private legalAge: boolean = true;
  private privacyPolicyVisible: boolean = false;

  constructor() {
    super();
    this.sessionStorageService = new SessionStorageService();
  }

  private togglePrivacyPolicy(): void {
    this.privacyPolicyVisible = !this.privacyPolicyVisible;
  }

  private verification(option: boolean): void {
    if (option) {
      this.sessionStorageService.addToSessionStorage(this.ageVerified, option);
      this.$router.push("/home");
    } else {
      this.sessionStorageService.addToSessionStorage(this.ageVerified, option);
      this.legalAge = false;
    }
  }
}
</script>

<style lang="scss" scoped>
.age-verification {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  padding: 0 15px;
  z-index: 1000;

  h1 {
    font-size: 30px;
    line-height: 34px;
    text-align: center;
    display: block;
    color: $dirtyWhite;
    margin-bottom: 15px;
    font-family: "Montserrat-Medium";

    @include media-breakpoint-up(md) {
      font-size: 56px;
      line-height: 40px;
      margin-bottom: 30px;
    }
  }

  .confirm-age {
    font-family: "Montserrat-Regular";
    font-size: 13px;
    line-height: 20px;
    color: $goldLight;
    margin-bottom: 30px;

    @include media-breakpoint-xxs() {
      margin-bottom: 20px;
    }

    @include media-breakpoint-up(md) {
      font-size: 16px;
      line-height: 29px;
      margin-bottom: 90px;
    }
  }

  .verification-answers {
    .tip-and-links {
      max-width: 700px;
      margin: 0 auto;
    }

    button {
      background: $burlyWood;
      line-height: 36px;
      font-size: 11px;
      padding: 0 10px;
      border: none;
      color: $darkBrown;
      font-weight: 600;
      font-family: "Montserrat-Medium";
      display: inline-block;
      margin: 0 5px 30px 5px;
      min-width: 160px;

      @include media-breakpoint-down(md) {
        &:last-child {
          margin-right: 0;
        }
      }

      @include media-breakpoint-xxs() {
        margin-bottom: 15px;
        min-width: 134px;
      }

      @include media-breakpoint-up(md) {
        min-width: initial;
        width: 300px;
        line-height: 64px;
        font-size: 22px;
        margin-right: 16px;
        margin-bottom: 20px;
      }

      &:hover,
      &:active,
      &:active:focus,
      &:hover:active,
      &:focus {
        outline: none;
        border: none;
        background: $burlyWood;
        box-shadow: none;
      }
    }

    p {
      font-family: "Montserrat-Medium";
      font-size: 12px;
      line-height: 20px;
      color: $goldLight;

      a {
        color: $white;
        font-family: "Montserrat-Bold";
      }
    }

    .warning {
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 20px;

      @include media-breakpoint-xxs() {
        margin-bottom: 10px;
      }

      @include media-breakpoint-up(md) {
        font-size: 16px;
      }
    }
  }

  .back {
    position: absolute;
    left: 15px;
    top: 15px;
    z-index: 5;

    @include media-breakpoint-up(lg) {
      top: 15px;
      left: 25px;
    }

    @include media-breakpoint-down(sm) {
      top: auto;
      right: 15px;
      bottom: 15px;
    }

    a {
      font-family: "Montserrat-Regular";
      font-size: 16px;
      color: $darkBrown;
      line-height: normal;
      background: $burlyWood;
      padding: 10px;
      display: inline-block;

      &:hover {
        text-decoration: none;
      }

      .fa-arrow-left {
        margin-top: -4px;
      }
    }
  }
}
</style>
