<template>
  <div class="contact">
    <vue-scroll @handle-scroll="handleScroll" class="vue-scroll">
      <template v-for="(homeSlide, i) in slidePages">
        <Slide
          :key="i"
          :slideNumber="i + 1"
          :headerTitle="homeSlide.title"
          :bottomPageText="homeSlide.text"
          :bgImageUrl="homeSlide.bgImageUrl"
          :bgImagePositionX="bgImagePositionX"
          :lastSlide="true"
        />
      </template>
    </vue-scroll>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { mixins } from "vue-class-component";
import Slide from "@/components/home/Slide.vue";
import ScrollMixin from "@/components/mixins/ScrollMixin.vue";

import { SlidePage } from "@/data-model";

import { LocalizationService } from "@/services";

@Component({
  components: {
    Slide
  }
})
export default class Contact extends mixins(ScrollMixin) {
  private bgImagePositionX: number = 0;
  private slidePages: SlidePage[] = [];
  private slidePageContact: SlidePage;

  created() {
    this.setSlidePage();
  }

  private setSlidePage(): void {
    this.slidePageContact = new SlidePage(
      this.translate("contact.title"),
      this.translateMultiple([
        "contact.street",
        "contact.postcode",
        "contact.city",
        "contact.country",
        "contact.officeMail",
        "contact.mobile",
        "contact.export",
        "contact.secondMobile"
      ])
    );

    this.slidePages.push(this.slidePageContact);
  }

  private translate(label: string): string {
    return LocalizationService.textTranslate(label);
  }

  private translateMultiple(labels: string[]): string[] {
    return labels.map(this.translate);
  }
}
</script>

<style lang="scss">
.contact {
}
</style>
