<template>
  <div class="global-footprint">
    <vue-scroll @handle-scroll="handleScroll" class="vue-scroll">
      <template v-for="(homeSlide, i) in slidePages">
        <Slide
          v-bind:key="i"
          :slideNumber="i + 1"
          :headerTitle="homeSlide.title"
          :bottomPageText="homeSlide.text"
          :bgImageUrl="homeSlide.bgImageUrl"
          :bgImagePositionX="bgImagePositionX"
        />
      </template>

      <div class="monus-global-markets text-center">
        <b-container class="content">
          <h2>{{ $t("globalFootprint.monusGlobalMarkets.title") }}</h2>
          <p>{{ $t("globalFootprint.monusGlobalMarkets.text") }}</p>
        </b-container>
      </div>

      <div class="world-image">
        <b-container>
          <WorldImage class="d-none d-lg-block" />
          <b-img
            class="d-block d-lg-none"
            src="./assets/images/mobile/world.png"
            alt="World map of Monus"
            fluid
          />
        </b-container>
      </div>

      <div class="countries">
        <b-container>
          <b-row>
            <b-col>
              <h3>{{ $t("globalFootprint.countries.europe") }}</h3>
              <b-list-group>
                <b-list-group-item
                  v-for="(country, key) in europeCountries"
                  :key="key"
                  >{{ country }}</b-list-group-item
                >
              </b-list-group>
            </b-col>
            <b-col>
              <h3>{{ $t("globalFootprint.countries.asia") }}</h3>
              <b-list-group>
                <b-list-group-item
                  v-for="(country, key) in asiaCountries"
                  :key="key"
                  >{{ country }}</b-list-group-item
                >
              </b-list-group>
            </b-col>
            <b-col>
              <h3>{{ $t("globalFootprint.countries.africa") }}</h3>
              <b-list-group>
                <b-list-group-item
                  v-for="(country, key) in africaCountries"
                  :key="key"
                  >{{ country }}</b-list-group-item
                >
              </b-list-group>
              <h3>{{ $t("globalFootprint.countries.northAmerica") }}</h3>
              <b-list-group>
                <b-list-group-item
                  v-for="(country, key) in northAmericaCountries"
                  :key="key"
                  >{{ country }}</b-list-group-item
                >
              </b-list-group>
              <h3>{{ $t("globalFootprint.countries.australia") }}</h3>
              <b-list-group>
                <b-list-group-item
                  v-for="(country, key) in australia"
                  :key="key"
                  >{{ country }}</b-list-group-item
                >
              </b-list-group>
            </b-col>
          </b-row>
        </b-container>
      </div>

      <Footer />
    </vue-scroll>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { mixins } from "vue-class-component";
import Slide from "@/components/home/Slide.vue";
import Footer from "@/components/Footer.vue";
import ScrollMixin from "@/components/mixins/ScrollMixin.vue";
import WorldImage from "@/assets/images/world.svg";

import { SlidePage } from "@/data-model";

import { LocalizationService } from "@/services";

@Component({
  components: {
    Slide,
    Footer,
    WorldImage
  }
})
export default class GlobalFootprint extends mixins(ScrollMixin) {
  private bgImagePositionX: number = 0;
  private slidePages: SlidePage[] = [];
  private slidePageGlobalFootprint: SlidePage;
  private europeCountries: string[] = [];
  private asiaCountries: string[] = [];
  private africaCountries: string[] = [];
  private northAmericaCountries: string[] = [];
  private australia: string[] = [];

  created() {
    this.setSlidePage();
    this.populateCountries();
  }

  private setSlidePage(): void {
    this.slidePageGlobalFootprint = new SlidePage(
      this.translate("global.globalFootprint"),
      this.translate("home.globalFootprintText"),
      "global_footprint.jpg"
    );

    this.slidePages.push(this.slidePageGlobalFootprint);
  }

  private populateCountries(): void {
    this.europeCountries = [
      this.translate("globalFootprint.countries.serbiaDM"),
      this.translate("globalFootprint.countries.serbiaDFS"),
      this.translate("globalFootprint.countries.montenegroDM"),
      this.translate("globalFootprint.countries.montenegroDFS"),
      this.translate("globalFootprint.countries.croatiaDFS"),
      this.translate("globalFootprint.countries.turkeyDFS"),
      this.translate("globalFootprint.countries.hollandDFS"),
      this.translate("globalFootprint.countries.lithuaniaDFS"),
      this.translate("globalFootprint.countries.cisDFS"),
      this.translate("globalFootprint.countries.georgiaDFS"),
      this.translate("globalFootprint.countries.russiaDFS"),
      this.translate("globalFootprint.countries.bulgariaDFS"),
      this.translate("globalFootprint.countries.maltaDFS")
    ];

    this.asiaCountries = [
      this.translate("globalFootprint.countries.turkeyDFS"),
      this.translate("globalFootprint.countries.georgiaDFS"),
      this.translate("globalFootprint.countries.russiaDFS"),
      this.translate("globalFootprint.countries.dubaiDFS"),
      this.translate("globalFootprint.countries.lebanonDFS"),
      this.translate("globalFootprint.countries.armeniaDFS"),
      this.translate("globalFootprint.countries.singaporeDFS"),
      this.translate("globalFootprint.countries.taiwanDM"),
      this.translate("globalFootprint.countries.vietnamDM")
    ];

    this.africaCountries = [
      this.translate("globalFootprint.countries.egyptDFS"),
      this.translate("globalFootprint.countries.libyaDFS")
    ];

    this.northAmericaCountries = [
      this.translate("globalFootprint.countries.mexicoDFS"),
      this.translate("globalFootprint.countries.panamaDFS"),
      this.translate("globalFootprint.countries.surinamDFS"),
      this.translate("globalFootprint.countries.floridaDFS"),
      this.translate("globalFootprint.countries.texasDFS"),
      this.translate("globalFootprint.countries.saintMartin")
    ];

    this.australia = [this.translate("globalFootprint.countries.australiaDM")];
  }

  private translate(label: string): string {
    return LocalizationService.textTranslate(label);
  }
}
</script>

<style lang="scss">
.global-footprint {
  .monus-global-markets {
    background: $burlyWood;
    padding: 90px 0 110px 0;

    @include media-breakpoint-down(md) {
      padding: 60px 0;
    }

    @include media-breakpoint-down(sm) {
      padding: 25px 0;
    }

    .content {
      max-width: 720px;

      h2 {
        display: block;
        color: #493d32;
        font-size: 56px;
        line-height: 40px;
        font-family: "Montserrat-Medium";
        margin-bottom: 45px;

        @include media-breakpoint-down(sm) {
          font-size: 30px;
          line-height: 30px;
          margin-bottom: 25px;
        }
      }

      p {
        color: #37312c;
        font-size: 16px;
        line-height: 29px;
        margin: 0;
        font-family: "Montserrat-Regular";

        @include media-breakpoint-down(sm) {
          font-size: 13px;
          line-height: 15px;
          margin-top: 15px;
        }
      }
    }
  }

  .world-image {
    background: $burlyWood;
    padding-bottom: 75px;

    @include media-breakpoint-down(md) {
      padding-bottom: 50px;
    }

    @include media-breakpoint-down(sm) {
      padding-bottom: 25px;
    }
  }

  .countries {
    background: $burlyWood;
    padding-bottom: 50px;

    h3 {
      font-family: "Montserrat-SemiBold";
      font-size: 26px;
      line-height: normal;
      color: #493d32;
      text-transform: uppercase;

      @include media-breakpoint-down(sm) {
        font-size: 20px;
        line-height: 20px;
      }
    }

    .list-group {
      margin-bottom: 20px;

      .list-group-item {
        font-family: "Montserrat-Italic";
        color: #211b19;
        font-size: 14px;
        padding: 0;
        background: none;
        border: none;
        line-height: normal;
        margin-bottom: 2px;

        @include media-breakpoint-down(sm) {
          font-size: 13px;
          line-height: 15px;
        }
      }
    }
  }
}
</style>
