<template>
  <transition appear>
    <div class="home-overview">
      <Header />
      <router-view></router-view>
    </div>
  </transition>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import Header from "@/components/Header.vue";
import Home from "@/components/home/Home.vue";

@Component({
  components: {
    Header
  }
})
export default class HomeOverview extends Vue {}
</script>

<style lang="scss">
.home-overview {
  height: 100%;
}
</style>
