<template>
  <div class="news">
    <vue-scroll @handle-scroll="handleScroll" class="vue-scroll">
      <template v-for="(homeSlide, i) in slidePages">
        <Slide
          v-bind:key="i"
          :slideNumber="i + 1"
          :headerTitle="homeSlide.title"
          :bottomPageText="homeSlide.text"
          :bgImageUrl="homeSlide.bgImageUrl"
          :bgImagePositionX="bgImagePositionX"
        />
      </template>

      <!-- Waiting for actual news from Monus to uncomment -->
      <!-- <div class="news-area">
        <b-container>
          <b-row>
            <div class="single-news" v-for="item in 2" :key="item">
              <h2>{{ $t("news.singleNews.title") }}</h2>
              <h3 class="d-inline-block">
                {{ $t("news.singleNews.subtitle") }}
              </h3>
              <b-img
                src="./assets/images/image_placeholder.png"
                alt="Image placeholder"
                fluid
              />
              <p>{{ $t("news.singleNews.firstText") }}</p>
              <p>{{ $t("news.singleNews.secondText") }}</p>
              <p>{{ $t("news.singleNews.thirdText") }}</p>
            </div>
          </b-row>
        </b-container>
      </div> -->

      <Footer />
    </vue-scroll>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { mixins } from "vue-class-component";
import Slide from "@/components/home/Slide.vue";
import Footer from "@/components/Footer.vue";
import ScrollMixin from "@/components/mixins/ScrollMixin.vue";

import { SlidePage } from "@/data-model";

import { LocalizationService } from "@/services";

@Component({
  components: {
    Slide,
    Footer
  }
})
export default class News extends mixins(ScrollMixin) {
  private bgImagePositionX: number = 0;
  private slidePages: SlidePage[] = [];
  private slidePageNews: SlidePage;

  created() {
    this.setSlidePage();
  }

  private setSlidePage(): void {
    this.slidePageNews = new SlidePage(
      this.translate("global.news"),
      this.translate("home.newsText")
    );

    this.slidePages.push(this.slidePageNews);
  }

  private translate(label: string): string {
    return LocalizationService.textTranslate(label);
  }
}
</script>

<style lang="scss">
.news {
  .news-area {
    background: #e7e0dd;
    padding-top: 90px;

    @include media-breakpoint-down(md) {
      padding: 60px 15px;
    }

    @include media-breakpoint-down(sm) {
      padding: 25px 15px;
    }

    .single-news {
      h2 {
        font-family: "Montserrat-Medium";
        font-size: 56px;
        color: #493d32;
        line-height: normal;
        margin-bottom: 30px;

        @include media-breakpoint-down(sm) {
          font-size: 28px;
          line-height: 28px;
          margin-bottom: 20px;
          text-align: center;
        }
      }

      h3 {
        font-family: "Montserrat-Medium";
        font-size: 26px;
        margin-bottom: 70px;
        color: #493d32;
        line-height: normal;

        @include media-breakpoint-down(sm) {
          font-size: 22px;
          line-height: 22px;
          margin-bottom: 20px;
          text-align: center;
        }
      }

      img {
        margin-bottom: 90px;

        @include media-breakpoint-down(sm) {
          margin-bottom: 25px;
        }
      }

      p {
        font-family: "Montserrat-Regular";
        font-size: 16px;
        color: #37312c;
        text-align: center;
        line-height: 29px;
        margin-bottom: 30px;

        @include media-breakpoint-down(sm) {
          font-size: 13px;
          line-height: 15px;
          margin-bottom: 15px;
        }

        &:last-child {
          margin-bottom: 90px;

          @include media-breakpoint-down(sm) {
            margin-bottom: 45px;
          }
        }
      }
    }
  }
}
</style>
