<template>
  <div class="our-brands">
    <vue-scroll @handle-scroll="handleScroll" class="vue-scroll" ref="vs">
      <div class="our-brands-details-page">
        <b-img
          v-on:load="scrollToCigarretteBlock()"
          class="d-none d-md-block"
          src="../assets/images/leaf.jpg"
          fluid
        />
        <div class="back">
          <b-link
            :to="{
              name: 'ourBrands',
              hash: '#cigarrette-block'
            }"
          >
            <font-awesome-icon :icon="['fa', 'arrow-left']" color="#e7e0dd" />
            {{ $t("global.back") }}
          </b-link>
        </div>
        <div class="text-overlay">
          <b-container>
            <b-row>
              <b-img
                class="d-block d-sm-none"
                src="../assets/images/leaf.jpg"
                fluid
              />
              <h1>{{ $t("ourBrands.cigarretteBlock.otherBrands.title") }}</h1>
            </b-row>
          </b-container>
        </div>
      </div>

      <div class="cigarrette-block" ref="cigarrette-block">
        <b-container>
          <b-row>
            <b-col
              class="d-flex"
              cols="6"
              md="4"
              lg="3"
              v-for="(cigarrette, key) in cigarrettes"
              :key="key"
            >
              <b-col
                class="cigarrette-block-item text-center d-flex flex-column align-items-center"
              >
                <div>
                  <b-img
                    :src="getCigarretteImage(cigarrette)"
                    fluid
                    :alt="cigarrette.title"
                  />
                </div>

                <h2>
                  {{ cigarrette.title }}
                </h2>
                <p>
                  {{ cigarrette.shortText }}
                </p>
                <b-button
                  class="mt-auto"
                  @click="
                    openCigarrettePage('otherBrandsDetails', cigarrette.title)
                  "
                >
                  {{ $t("ourBrands.cigarretteBlock.viewMore") }}
                </b-button>
              </b-col>
            </b-col>
          </b-row>
        </b-container>
      </div>

      <Footer />
    </vue-scroll>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { mixins } from "vue-class-component";
import Slide from "@/components/home/Slide.vue";
import Footer from "@/components/Footer.vue";
import ScrollMixin from "@/components/mixins/ScrollMixin.vue";
import BrandsMixin from "@/components/mixins/BrandsMixin.vue";

import { SlidePage, Cigarrette } from "@/data-model";

import { LocalizationService, CigarretteService } from "@/services";
import { RouteNameUtil } from "@/utils";

@Component({
  components: {
    Slide,
    Footer
  }
})
export default class OtherBrands extends mixins(ScrollMixin, BrandsMixin) {
  created() {
    this.getCigarretteItems(false);
  }
}
</script>

<style lang="scss" />
