<template>
  <div class="our-brands-details">
    <vue-scroll @handle-scroll="handleScroll" class="vue-scroll">
      <div class="our-brands-details-page">
        <b-img
          class="d-none d-md-block"
          src="../assets/images/leaf.jpg"
          fluid
          :alt="cigarrette.title"
        />
        <div class="back">
          <b-link
            :to="{
              name: 'ourBrands',
              hash: '#cigarrette-block'
            }"
          >
            <font-awesome-icon :icon="['fa', 'arrow-left']" color="#e7e0dd" />
            {{ $t("global.back") }}
          </b-link>
        </div>
        <div class="text-overlay">
          <b-container>
            <b-row>
              <b-img
                class="d-block d-sm-none"
                src="../assets/images/leaf.jpg"
                fluid
                :alt="cigarrette.title"
              />
              <h1>{{ cigarrette.title }}</h1>
              <p>
                {{
                  cigarrette.cigarrettePage && cigarrette.cigarrettePage.text
                }}
              </p>
            </b-row>
          </b-container>
        </div>

        <div class="items">
          <b-container>
            <b-tabs pills content-class="mt-3" align="center">
              <b-tab
                v-for="(category, key) in cigarrette.cigarrettePage &&
                  cigarrette.cigarrettePage.categories"
                :key="key"
                :title="category"
                title-item-class="cigarrette-category"
              >
                <b-col cols="12" lg="10" offset-lg="1">
                  <b-row>
                    <template
                      v-for="(item, i) in cigarrette.cigarrettePage &&
                        cigarrette.cigarrettePage.items"
                    >
                      <b-col
                        v-if="item.category === category"
                        :key="i"
                        cols="6"
                        md="3"
                        class="cigarrette-item animated fadeIn"
                      >
                        <b-row>
                          <b-img
                            :src="getImageUrl(item.cigarretteImage)"
                            :alt="item.cigarretteName"
                            fluid
                          />
                          <h4 class="text-center">{{ item.cigarretteName }}</h4>
                        </b-row>
                      </b-col>
                    </template>
                  </b-row>
                </b-col>
              </b-tab>
            </b-tabs>
          </b-container>
        </div>
      </div>
      <Footer />
    </vue-scroll>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { mixins } from "vue-class-component";
import Footer from "@/components/Footer.vue";
import ScrollMixin from "@/components/mixins/ScrollMixin.vue";
import BrandsDetailsMixin from "@/components/mixins/BrandsDetailsMixin.vue";

import { Cigarrette } from "@/data-model";

import { LocalizationService, CigarretteService } from "@/services";

@Component({
  components: {
    Footer
  }
})
export default class OurBrandsDetails extends mixins(
  ScrollMixin,
  BrandsDetailsMixin
) {}
</script>

<style lang="scss" />
