<template>
  <div class="our-brands">
    <vue-scroll @handle-scroll="handleScroll" class="vue-scroll" ref="vs">
      <template v-for="(homeSlide, i) in slidePages">
        <Slide
          v-bind:key="i"
          :slideNumber="i + 1"
          :headerTitle="homeSlide.title"
          :bottomPageText="homeSlide.text"
          :bgImageUrl="homeSlide.bgImageUrl"
          :bgImagePositionX="bgImagePositionX"
          :scrollToCigarretteBlock="scrollToCigarretteBlock"
        />
      </template>

      <div class="cigarrette-block" ref="cigarrette-block">
        <b-container>
          <b-row>
            <b-col
              class="d-flex"
              cols="6"
              md="4"
              lg="3"
              v-for="(cigarrette, key) in cigarrettes"
              :key="key"
            >
              <b-col
                class="cigarrette-block-item text-center d-flex flex-column align-items-center"
              >
                <div>
                  <b-img
                    :src="getCigarretteImage(cigarrette)"
                    fluid
                    :alt="cigarrette.title"
                  />
                </div>

                <h2 v-if="key !== cigarrettes.length - 1">
                  {{ cigarrette.title }}
                </h2>
                <p v-if="key !== cigarrettes.length - 1">
                  {{ cigarrette.shortText }}
                </p>
                <b-button
                  class="mt-auto"
                  @click="
                    key !== cigarrettes.length - 1
                      ? openCigarrettePage('ourBrandsDetails', cigarrette.title)
                      : goToOtherBrands()
                  "
                >
                  {{ $t("ourBrands.cigarretteBlock.viewMore") }}
                </b-button>
              </b-col>
            </b-col>
          </b-row>
        </b-container>
      </div>

      <Footer />
    </vue-scroll>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { mixins } from "vue-class-component";
import Slide from "@/components/home/Slide.vue";
import Footer from "@/components/Footer.vue";
import ScrollMixin from "@/components/mixins/ScrollMixin.vue";
import BrandsMixin from "@/components/mixins/BrandsMixin.vue";

import { SlidePage, Cigarrette } from "@/data-model";

import { LocalizationService, CigarretteService } from "@/services";
import { RouteNameUtil } from "@/utils";

@Component({
  components: {
    Slide,
    Footer
  }
})
export default class OurBrands extends mixins(ScrollMixin, BrandsMixin) {
  created() {
    this.getCigarretteItems(true);
  }
}
</script>

<style lang="scss" />
