<template>
  <div class="our-company">
    <vue-scroll @handle-scroll="handleScroll" class="vue-scroll">
      <template v-for="(homeSlide, i) in slidePages">
        <Slide
          v-bind:key="i"
          :slideNumber="i + 1"
          :headerTitle="homeSlide.title"
          :bottomPageText="homeSlide.text"
          :bgImageUrl="homeSlide.bgImageUrl"
          :bgImagePositionX="bgImagePositionX"
        />
      </template>

      <div class="about-us">
        <b-container class="text-center">
          <h2>{{ $t("ourCompany.aboutUs.title") }}</h2>
          <p>{{ $t("ourCompany.aboutUs.firstText") }}</p>
          <p>{{ $t("ourCompany.aboutUs.secondText") }}</p>
          <p>{{ $t("ourCompany.aboutUs.thirdText") }}</p>
        </b-container>
      </div>

      <div class="company-facts">
        <b-container class="text-center">
          <b-row>
            <b-col cols="12">
              <h2>{{ $t("ourCompany.companyFacts.title") }}</h2>
            </b-col>
            <b-col cols="6" md="3" class="company-facts-circle">
              <div class="fact">
                <div class="image-circle">
                  <font-awesome-icon :icon="['fa', 'users']" size="5x" />
                </div>
                <span>{{ employeesNumber }}</span>
                <p>
                  {{
                    $t("ourCompany.companyFacts.employeesText", {
                      number: employeesNumber
                    })
                  }}
                </p>
              </div>
            </b-col>
            <b-col cols="6" md="3" class="company-facts-circle">
              <div class="fact">
                <div class="image-circle smoking">
                  <font-awesome-icon :icon="['fa', 'smoking']" size="4x" />
                </div>
                <span>{{ brandsNumber }}</span>
                <p>
                  {{
                    $t("ourCompany.companyFacts.brandsText", {
                      number: brandsNumber
                    })
                  }}
                </p>
              </div>
            </b-col>
            <b-col cols="6" md="3" class="company-facts-circle">
              <div class="fact">
                <div class="image-circle smoking">
                  <font-awesome-icon :icon="['fa', 'smoking']" size="4x" />
                </div>
                <span>
                  {{
                    $t("ourCompany.companyFacts.sticksTitle", {
                      number: sticksNumber
                    })
                  }}
                </span>
                <p>
                  {{
                    $t("ourCompany.companyFacts.sticksText", {
                      number: sticksNumber
                    })
                  }}
                </p>
              </div>
            </b-col>
            <b-col cols="6" md="3" class="company-facts-circle">
              <div class="fact">
                <div class="image-circle">
                  <font-awesome-icon :icon="['fa', 'globe']" size="5x" />
                </div>
                <span>{{ continentsNumber }}</span>
                <p>
                  {{
                    $t("ourCompany.companyFacts.continentsText", {
                      number: continentsNumber
                    })
                  }}
                </p>
              </div>
            </b-col>
          </b-row>
        </b-container>
      </div>

      <div class="mission">
        <b-container>
          <b-row>
            <b-col class="mission-image" cols="12" md="4">
              <h2 class="d-block d-sm-none text-center">
                {{ $t("ourCompany.mission.title") }}
              </h2>
              <b-img
                src="./assets/images/mission_image.jpg"
                fluid
                alt="Packing cigarretes"
              />
            </b-col>
            <b-col cols="12" md="8" class="mission-text">
              <h2 class="d-none d-sm-block">
                {{ $t("ourCompany.mission.title") }}
              </h2>
              <p class="subtitle">
                {{ $t("ourCompany.mission.subtitle") }}
              </p>
              <p>{{ $t("ourCompany.mission.firstText") }}</p>
              <p>{{ $t("ourCompany.mission.secondText") }}</p>
              <p>{{ $t("ourCompany.mission.thirdText") }}</p>
            </b-col>
          </b-row>
        </b-container>
      </div>

      <div class="vision">
        <b-container>
          <b-row>
            <b-col cols="12" md="8">
              <h2>{{ $t("ourCompany.vision.title") }}</h2>
              <p class="subtitle">
                {{ $t("ourCompany.vision.subtitle") }}
              </p>
              <p>{{ $t("ourCompany.vision.firstText") }}</p>
              <p>{{ $t("ourCompany.vision.secondText") }}</p>
            </b-col>
          </b-row>
        </b-container>
      </div>

      <div class="responsibility">
        <b-container class="text-center">
          <h2>{{ $t("ourCompany.responsibility.title") }}</h2>
          <p>{{ $t("ourCompany.responsibility.firstText") }}</p>
          <p>{{ $t("ourCompany.responsibility.secondText") }}</p>
          <p>{{ $t("ourCompany.responsibility.thirdText") }}</p>
        </b-container>
      </div>

      <div class="iso">
        <b-container>
          <div class="certificates text-center">
            <b-img
              src="./assets/images/certification-sgs.png"
              alt="certification"
              fluid
            />
            <b-img
              src="./assets/images/certification-ats.png"
              alt="certification"
              fluid
            />

            <p>{{ $t("ourCompany.certification.text") }}</p>
          </div>
        </b-container>
      </div>

      <Footer />
    </vue-scroll>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { mixins } from "vue-class-component";
import Slide from "@/components/home/Slide.vue";
import Footer from "@/components/Footer.vue";
import ScrollMixin from "@/components/mixins/ScrollMixin.vue";

import { FullPageOptions, SlidePage } from "@/data-model";

import { EventBus, LocalizationService } from "@/services";
import { ScreenSizeUtil } from "@/utils";

@Component({
  components: {
    Slide,
    Footer
  }
})
export default class Home extends mixins(ScrollMixin) {
  private firstDueDateNotification: boolean = false;
  private opts: FullPageOptions;
  private bgImagePositionX: number = 0;
  private slidePages: SlidePage[] = [];
  private slidePageOurCompany: SlidePage;
  private visibleHeader: boolean = true;
  private employeesNumber: number;
  private brandsNumber: number;
  private sticksNumber: number;
  private continentsNumber: number;

  created() {
    this.opts = new FullPageOptions(0, "h", 300, "hidden", false);
    this.setSlidePages();
    this.populateCompanyFacts(191, 20, 3.31, 5);
  }

  private setSlidePages(): void {
    this.slidePageOurCompany = new SlidePage(
      this.translate("global.ourCompany"),
      this.translate("home.mainGoal"),
      "our_company_image.jpg"
    );

    this.slidePages.push(this.slidePageOurCompany);
  }

  private populateCompanyFacts(
    eN: number,
    bN: number,
    sN: number,
    cN: number
  ): void {
    this.employeesNumber = eN;
    this.brandsNumber = bN;
    this.sticksNumber = sN;
    this.continentsNumber = cN;
  }

  private translate(label: string): string {
    return LocalizationService.textTranslate(label);
  }
}
</script>

<style lang="scss">
.our-company {
  .about-us {
    background: $burlyWood;
    padding: 90px 0 70px 0;

    @include media-breakpoint-down(md) {
      padding: 60px 0;
    }

    @include media-breakpoint-down(sm) {
      padding: 25px 0;
    }

    .container {
      max-width: 700px;

      h2 {
        display: block;
        color: #493d32;
        font-size: 56px;
        line-height: 40px;
        font-family: "Montserrat-SemiBold";
        text-transform: capitalize;
        margin-bottom: 45px;

        @include media-breakpoint-down(sm) {
          font-size: 30px;
          line-height: 30px;
          margin-bottom: 25px;
        }
      }

      p {
        color: #37312c;
        font-size: 16px;
        line-height: 29px;
        margin: 35px 0 0 0;
        font-family: "Montserrat-Regular";

        &:nth-of-type(1) {
          margin-top: 0;
        }

        @include media-breakpoint-down(sm) {
          font-size: 13px;
          line-height: 15px;
          margin-top: 15px;
        }
      }
    }
  }

  .company-facts {
    padding: 90px 0 100px 0;
    background: $burlyWood
      url("~@/assets/images/closeup-tobacco-cigarettes.jpg") center / cover
      no-repeat;

    @include media-breakpoint-down(md) {
      padding: 60px 0;
    }

    @include media-breakpoint-down(sm) {
      padding: 25px 0 0 0;
    }

    h2 {
      font-family: "Montserrat-Medium";
      font-size: 56px;
      line-height: 40px;
      text-transform: capitalize;
      margin-bottom: 110px;
      color: $dirtyWhite;

      @include media-breakpoint-down(md) {
        margin-bottom: 60px;
      }

      @include media-breakpoint-down(sm) {
        font-size: 30px;
        line-height: 30px;
        margin-bottom: 25px;
      }
    }

    .company-facts-circle {
      @include media-breakpoint-down(sm) {
        margin-bottom: 25px;
      }

      .image-circle {
        background: #a88b66;
        width: 160px;
        height: 160px;
        margin: 0 auto 35px auto;
        border-radius: 50%;
        line-height: 160px;
        color: #191614;

        @include media-breakpoint-down(md) {
          max-width: 120px;
          max-height: 120px;
          line-height: 120px;
          font-size: 12px;
          margin-bottom: 20px;
        }

        @include media-breakpoint-down(sm) {
          max-width: 80px;
          max-height: 80px;
          line-height: 80px;
          font-size: 8px;
          margin-bottom: 10px;
        }

        &.smoking {
          line-height: 150px;

          @include media-breakpoint-down(md) {
            line-height: 120px;
          }

          @include media-breakpoint-down(sm) {
            line-height: 80px;
          }
        }
      }

      span {
        display: block;
        font-family: "Montserrat-Bold";
        font-size: 40px;
        line-height: 26px;
        margin-bottom: 15px;
        color: $dirtyWhite;

        @include media-breakpoint-down(md) {
          font-size: 20px;
          line-height: 18px;
          margin-bottom: 5px;
        }
      }

      p {
        font-family: "Montserrat-Medium";
        font-size: 18px;
        line-height: 26px;
        margin: 0;
        color: $dirtyWhite;
        @include media-breakpoint-down(md) {
          font-size: 14px;
          line-height: 16px;
        }
      }
    }
  }

  .mission {
    background: $burlyWood;
    padding: 90px 0;

    @include media-breakpoint-down(md) {
      padding: 60px 0;
    }

    @include media-breakpoint-down(sm) {
      padding: 25px;

      & > .container {
        padding: 0;
      }
    }

    .mission-image {
      padding: 0;

      @include media-breakpoint-down(sm) {
        margin-bottom: 25px;
        padding: 0 10px;
      }
    }

    .mission-text {
      padding-left: 10px;

      @include media-breakpoint-up(md) {
        padding-left: 48px;
      }
    }

    h2 {
      display: block;
      color: #493d32;
      font-size: 56px;
      line-height: 40px;
      font-family: "Montserrat-SemiBold";
      text-transform: capitalize;
      margin-bottom: 45px;

      @include media-breakpoint-down(sm) {
        font-size: 30px;
        line-height: 30px;
        margin-bottom: 25px;
      }
    }

    p {
      color: #37312c;
      font-size: 16px;
      line-height: 29px;
      margin: 35px 0 0 0;
      font-family: "Montserrat-Regular";

      &.subtitle {
        font-family: "Montserrat-Bold";
        margin-top: 0;
      }

      @include media-breakpoint-down(sm) {
        font-size: 13px;
        line-height: 24px;
        margin-top: 15px;
      }
    }
  }

  .vision {
    padding: 90px 0 100px 0;
    background: $burlyWood url("~@/assets/images/woman-in-laboratory.jpg")
      center / cover no-repeat;

    @include media-breakpoint-down(sm) {
      padding: 25px 0;
    }

    @include media-breakpoint-between(md, lg) {
      @include orientation(portrait) {
        background-position: right;
      }
    }

    h2 {
      font-family: "Montserrat-Medium";
      font-size: 56px;
      line-height: 40px;
      margin-bottom: 45px;
      color: $dirtyWhite;

      @include media-breakpoint-down(sm) {
        font-size: 30px;
        line-height: 30px;
        margin-bottom: 25px;
        text-align: center;
      }
    }

    p {
      font-family: "Montserrat-Regular";
      font-size: 16px;
      line-height: 29px;
      margin: 0 0 45px 0;
      color: $dirtyWhite;

      &.subtitle {
        font-family: "Montserrat-Bold";
      }

      &:last-child {
        margin: 0;
      }

      @include media-breakpoint-down(sm) {
        font-size: 13px;
        line-height: 24px;
        margin-bottom: 15px;
      }
    }
  }

  .responsibility {
    @extend .about-us;

    @include media-breakpoint-up(md) {
      padding: 90px 0 45px 0;
    }
  }

  .iso {
    background: $dirtyWhite;
    padding: 25px 0;

    @include media-breakpoint-up(md) {
      padding: 45px 0;
    }

    .container {
      max-width: 700px;

      img {
        margin: 0 0 35px 0;

        @include media-breakpoint-down(md) {
          margin-bottom: 25px;
        }

        @include media-breakpoint-down(sm) {
          margin-bottom: 15px;
        }

        &:last-of-type {
          @include media-breakpoint-up(md) {
            margin-left: 145px;
          }

          @include media-breakpoint-down(md) {
            padding-left: 0;
          }

          @include media-breakpoint-down(sm) {
            margin-left: 10px;
          }

          @include media-breakpoint-xxs() {
            margin-left: 0;
          }
        }
      }

      p {
        font-family: "Montserrat-Regular";
        font-size: 16px;
        line-height: 29px;
        color: #37312c;

        @include media-breakpoint-down(sm) {
          font-size: 13px;
          line-height: 24px;
          margin-bottom: 0;
        }
      }
    }
  }
}
</style>
