<template>
  <div class="page-not-found">
    <Header />
    <vue-scroll @handle-scroll="handleScroll" class="vue-scroll">
      <template v-for="(homeSlide, i) in slidePages">
        <Slide
          v-bind:key="i"
          :slideNumber="i + 1"
          :headerTitle="homeSlide.title"
          :bottomPageText="homeSlide.text"
          :bgImageUrl="homeSlide.bgImageUrl"
          :bgImagePositionX="bgImagePositionX"
        />
      </template>
    </vue-scroll>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { mixins } from "vue-class-component";
import Header from "@/components/Header.vue";
import Slide from "@/components/home/Slide.vue";
import ScrollMixin from "@/components/mixins/ScrollMixin.vue";

import { SlidePage } from "@/data-model";

import { LocalizationService } from "@/services";

@Component({
  components: {
    Slide,
    Header
  }
})
export default class PageNotFound extends mixins(ScrollMixin) {
  private bgImagePositionX: number = 0;
  private slidePages: SlidePage[] = [];
  private slidePageNotFound: SlidePage;

  created() {
    this.setPageDefaults();
  }

  private setPageDefaults(): void {
    this.slidePageNotFound = new SlidePage(
      this.translate("global.pageNotFound")
    );
    this.slidePages.push(this.slidePageNotFound);
  }

  private translate(label: string): string {
    return LocalizationService.textTranslate(label);
  }
}
</script>

<style lang="scss">
.page-not-found {
  position: relative;

  h1 {
    max-width: 900px;
  }

  .scroll {
    display: none;
  }
}
</style>
