<template>
  <div
    class="privacy-policy flex-column align-items-center justify-content-center"
  >
    <h1>{{ $t("privacyPolicy.title") }}</h1>
    <b-container>
      <div class="text-section">
        <h3>{{ $t("privacyPolicy.privacyStatement") }}</h3>
        <p>
          {{ $t("privacyPolicy.privacyStatementText") }}
        </p>
      </div>

      <div class="text-section">
        <h3>{{ $t("privacyPolicy.useOfData") }}</h3>
        <p>
          {{ $t("privacyPolicy.useOfDataText") }}
        </p>
      </div>

      <div class="text-section">
        <h3>{{ $t("privacyPolicy.customerExperience") }}</h3>
        <p>
          {{ $t("privacyPolicy.customerExperienceText") }}
        </p>
      </div>

      <div class="text-section">
        <h3>{{ $t("privacyPolicy.security") }}</h3>
        <p>
          {{ $t("privacyPolicy.securityText") }}
        </p>
      </div>

      <div class="text-section">
        <h3>{{ $t("privacyPolicy.complianceWithTheLaw") }}</h3>
        <p>
          {{ $t("privacyPolicy.complianceWithTheLawText") }}
        </p>
      </div>

      <div class="text-section">
        <h3>{{ $t("privacyPolicy.whatInformationDoWeCollect") }}</h3>
        <div>
          <span>{{ $t("privacyPolicy.whatInformationDoWeCollectText") }}</span>
          <span>{{ $t("privacyPolicy.informationYouProvide") }}</span>

          <ul>
            <li>{{ $t("privacyPolicy.contactInformation") }}</li>
            <li>{{ $t("privacyPolicy.locationInformation") }}</li>
            <li>{{ $t("privacyPolicy.securityCredentialsInformation") }}</li>
            <li>{{ $t("privacyPolicy.demographics") }}</li>
            <li>{{ $t("privacyPolicy.socialMediaInformation") }}</li>
          </ul>

          <h3>{{ $t("privacyPolicy.informationFromThirdPartySources") }}</h3>
          <p>{{ $t("privacyPolicy.informationFromThirdPartySourcesText") }}</p>

          <h3>{{ $t("privacyPolicy.childrensPrivacy") }}</h3>
          <p>{{ $t("privacyPolicy.childrensPrivacyText") }}</p>

          <h3>{{ $t("privacyPolicy.howDoWeKeepYourDataSource") }}</h3>
          <p>{{ $t("privacyPolicy.howDoWeKeepYourDataSourceText") }}</p>
        </div>
      </div>

      <div class="text-section">
        <h3>
          {{ $t("privacyPolicy.howDoWeUseAutomatedDataCollectionTools") }}
        </h3>
        <p>
          {{ $t("privacyPolicy.howDoWeUseAutomatedDataCollectionToolsText") }}
        </p>
      </div>

      <div class="text-section">
        <h3>{{ $t("privacyPolicy.exercisingYourRightsAndContactingUs") }}</h3>
        <p>
          {{ $t("privacyPolicy.exercisingYourRightsAndContactingUsText") }}
        </p>
      </div>
    </b-container>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

@Component
export default class PrivacyPolicy extends Vue {}
</script>

<style lang="scss" scoped>
.privacy-policy {
  position: fixed;
  top: 70px;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  padding: 0 15px;
  z-index: 1;
  overflow: scroll;

  @include media-breakpoint-down(sm) {
    top: 30px;
  }

  h1 {
    font-size: 30px;
    line-height: 34px;
    text-align: center;
    display: block;
    color: $dirtyWhite;
    margin-bottom: 30px;
    font-family: "Montserrat-Medium";

    @include media-breakpoint-up(md) {
      font-size: 56px;
      line-height: 40px;
      margin-bottom: 60px;
    }
  }

  .text-section {
    h3 {
      font-size: 14px;
      margin-bottom: 15px;
      line-height: 20px;
      color: $dirtyWhite;
      font-family: "Montserrat-Bold";

      @include media-breakpoint-up(sm) {
        font-size: 16px;
      }

      @include media-breakpoint-up(md) {
        font-size: 18px;
      }
    }

    p,
    div {
      font-family: "Montserrat-Regular";
      font-size: 13px;
      line-height: 20px;
      color: $goldLight;
      margin-bottom: 30px;

      @include media-breakpoint-up(sm) {
        font-size: 14px;
      }

      @include media-breakpoint-up(md) {
        font-size: 16px;
      }
    }

    span {
      display: block;
      margin-bottom: 10px;
    }

    ul {
      margin: 10px 0;
      text-align: left;

      li {
        margin-bottom: 10px;
      }
    }
  }
}
</style>
