<template>
  <div class="what-we-do">
    <vue-scroll @handle-scroll="handleScroll" class="vue-scroll">
      <template v-for="(homeSlide, i) in slidePages">
        <Slide
          v-bind:key="i"
          :slideNumber="i + 1"
          :headerTitle="homeSlide.title"
          :bottomPageText="homeSlide.text"
          :bgImageUrl="homeSlide.bgImageUrl"
          :bgImagePositionX="bgImagePositionX"
        />
      </template>

      <div class="quality">
        <b-container class="text-center">
          <h2>{{ $t("whatWeDo.quality.title") }}</h2>
          <p>{{ $t("whatWeDo.quality.text") }}</p>
        </b-container>
      </div>

      <div class="flexibility">
        <b-container>
          <b-row>
            <b-col cols="12" lg="8">
              <h2>{{ $t("whatWeDo.flexibility.title") }}</h2>
              <p>{{ $t("whatWeDo.flexibility.text") }}</p>
            </b-col>
          </b-row>
        </b-container>
      </div>

      <div class="nurture-knowledge">
        <b-container class="text-center">
          <h2>{{ $t("whatWeDo.nurtureKnowledge.title") }}</h2>
          <p>{{ $t("whatWeDo.nurtureKnowledge.text") }}</p>
        </b-container>
      </div>

      <div class="variety">
        <b-container>
          <b-row class="justify-content-end">
            <b-col cols="12" lg="7">
              <h2 class="text-center">{{ $t("whatWeDo.variety.title") }}</h2>
              <p class="text-justify">{{ $t("whatWeDo.variety.text") }}</p>
            </b-col>
          </b-row>
        </b-container>
      </div>

      <div class="boundaries">
        <b-container class="text-center">
          <h2>{{ $t("whatWeDo.boundaries.title") }}</h2>
          <p>{{ $t("whatWeDo.boundaries.text") }}</p>
        </b-container>
      </div>

      <Footer />
    </vue-scroll>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { mixins } from "vue-class-component";
import Slide from "@/components/home/Slide.vue";
import Footer from "@/components/Footer.vue";
import ScrollMixin from "@/components/mixins/ScrollMixin.vue";

import { SlidePage } from "@/data-model";

import { LocalizationService } from "@/services";

@Component({
  components: {
    Slide,
    Footer
  }
})
export default class WhatWeDo extends mixins(ScrollMixin) {
  private bgImagePositionX: number = 0;
  private slidePages: SlidePage[] = [];
  private slidePageWhatWeDo: SlidePage;

  created() {
    this.setSlidePages();
  }

  private setSlidePages(): void {
    this.slidePageWhatWeDo = new SlidePage(
      this.translate("global.whatWeDo"),
      this.translate("home.whatWeDoText"),
      "what_we_do.jpg"
    );

    this.slidePages.push(this.slidePageWhatWeDo);
  }

  private translate(label: string): string {
    return LocalizationService.textTranslate(label);
  }
}
</script>

<style lang="scss">
.what-we-do {
  .quality {
    background: $burlyWood;
    padding: 90px 0 70px 0;

    @include media-breakpoint-down(md) {
      padding: 60px 0;
    }

    @include media-breakpoint-down(sm) {
      padding: 25px 0;
    }

    .container {
      max-width: 700px;

      h2 {
        display: block;
        color: #493d32;
        font-size: 56px;
        line-height: 40px;
        font-family: "Montserrat-SemiBold";
        margin-bottom: 45px;

        @include media-breakpoint-down(sm) {
          font-size: 30px;
          line-height: 30px;
          margin-bottom: 25px;
        }
      }

      p {
        color: #37312c;
        font-size: 16px;
        line-height: 29px;
        margin: 35px auto 0 auto;
        font-family: "Montserrat-Regular";
        text-align: justify;
        max-width: 570px;

        &:nth-of-type(1) {
          margin-top: 0;
        }

        @include media-breakpoint-down(md) {
          max-width: initial;
        }

        @include media-breakpoint-down(sm) {
          font-size: 13px;
          line-height: 15px;
          margin-top: 15px;
        }
      }
    }
  }

  .flexibility {
    padding: 130px 0 90px 0;
    background: $burlyWood url("~@/assets/images/leaf.jpg") center / cover
      no-repeat;

    @include media-breakpoint-down(md) {
      padding: 60px 0;
    }

    @include media-breakpoint-down(sm) {
      padding: 25px 0;
    }

    h2 {
      font-family: "Montserrat-Medium";
      font-size: 56px;
      line-height: 40px;
      margin-bottom: 45px;
      color: $dirtyWhite;

      @include media-breakpoint-down(sm) {
        font-size: 30px;
        line-height: 30px;
        margin-bottom: 25px;
      }
    }

    p {
      font-family: "Montserrat-Regular";
      font-size: 16px;
      line-height: 29px;
      margin: 0 0 45px 0;
      max-width: 580px;
      color: $dirtyWhite;

      &:last-child {
        margin: 0;
      }

      @include media-breakpoint-down(sm) {
        font-size: 13px;
        line-height: 15px;
        margin-top: 15px;
      }
    }
  }

  .nurture-knowledge {
    @extend .quality;
  }

  .variety {
    @extend .flexibility;
    padding: 180px 0 150px 0;
    background: $burlyWood url("~@/assets/images/lighter.jpg") center / cover
      no-repeat;

    @include media-breakpoint-down(md) {
      padding: 60px 0;
    }

    @include media-breakpoint-down(sm) {
      padding: 25px 0;
    }

    p {
      margin: auto;

      &:last-child {
        margin: auto;
      }
    }
  }

  .boundaries {
    @extend .quality;
    .container {
      max-width: 750px;
    }
  }
}
</style>
