<template>
  <div class="home">
    <div
      class="fullpage-wp"
      v-fullpage="opts"
      ref="fullPage"
      @mousemove="revealImagePart"
    >
      <template v-for="(homeSlide, i) in slidePages">
        <Slide
          v-bind:key="i"
          :slideNumber="i + 1"
          :headerTitle="homeSlide.title"
          :bottomPageText="homeSlide.text"
          :bgImageUrl="homeSlide.bgImageUrl"
          :bgImagePositionX="bgImagePositionX"
          :exploreMoreLink="homeSlide.exploreMoreLink"
          :moveNext="moveNext"
          :lastSlide="i + 1 === slidePages.length"
        />
      </template>
    </div>

    <div class="current-page text-right animated fadeInUp delay-800ms">
      <span>
        {{
          $t("global.page", {
            current: currentPage,
            total: totalPages
          })
        }}
      </span>
      <div class="progress">
        <div
          class="progress-bar"
          role="progressbar"
          :style="pagePercentageInlineStyle"
          :aria-valuenow="pagePercentage"
          aria-valuemin="0"
          aria-valuemax="100"
        ></div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import Header from "@/components/Header.vue";
import Slide from "@/components/home/Slide.vue";

import { FullPageOptions, SlidePage } from "@/data-model";

import { ScreenSizeUtil } from "@/utils";

import { EventBus, LocalizationService } from "@/services";

@Component({
  components: {
    Header,
    Slide
  }
})
export default class HomeOverview extends Vue {
  private firstDueDateNotification: boolean = false;
  private opts: FullPageOptions;
  private currentPage: number = 1;
  private totalPages: number = 1;
  private bgImagePositionX: number = 0;
  private slidePages: SlidePage[] = [];
  private slidePageOurCompany: SlidePage;
  private slidePageWhatWeDo: SlidePage;
  private slidePageOurBrands: SlidePage;
  private slidePageGlobalFootprint: SlidePage;
  private slidePageNews: SlidePage;
  private slidePageContact: SlidePage;
  private lastSlide: boolean = false;

  created() {
    this.opts = new FullPageOptions(
      0,
      "h",
      300,
      "hidden",
      false,
      this.beforePageChange
    );

    this.setSlidePages();
  }

  mounted() {
    EventBus.$on("moveToSlide", this.moveTo);
    this.getTotalPages();
  }

  private setSlidePages(): void {
    this.slidePageOurCompany = new SlidePage(
      this.translate("global.ourCompany"),
      this.translate("home.mainGoal"),
      "our_company_image.jpg",
      "our-company"
    );

    this.slidePageWhatWeDo = new SlidePage(
      this.translate("global.whatWeDo"),
      this.translate("home.whatWeDoText"),
      "what_we_do.jpg",
      "what-we-do"
    );

    this.slidePageOurBrands = new SlidePage(
      this.translate("global.ourBrands"),
      this.translate("home.ourBrandsText"),
      "our_brands.jpg",
      "our-brands"
    );

    this.slidePageGlobalFootprint = new SlidePage(
      this.translate("global.globalFootprint"),
      this.translate("home.globalFootprintText"),
      "global_footprint.jpg",
      "global-footprint"
    );

    this.slidePageNews = new SlidePage(
      this.translate("global.news"),
      this.translate("home.newsText"),
      "",
      "news"
    );

    this.slidePageContact = new SlidePage(
      this.translate("contact.title"),
      this.translateMultiple([
        "contact.street",
        "contact.postcode",
        "contact.city",
        "contact.country",
        "contact.officeMail",
        "contact.mobile",
        "contact.export",
        "contact.secondMobile"
      ])
    );

    this.slidePages.push(
      this.slidePageOurCompany,
      this.slidePageWhatWeDo,
      this.slidePageOurBrands,
      this.slidePageGlobalFootprint,
      this.slidePageNews,
      this.slidePageContact
    );
  }

  private translate(label: string): string {
    return LocalizationService.textTranslate(label);
  }

  private translateMultiple(labels: string[]): string[] {
    return labels.map(this.translate);
  }

  private beforePageChange(el: any, prev: number, next: number) {
    this.currentPage = next + 1;
    this.bgImagePositionX = next * el.offsetWidth;
  }

  private revealImagePart(e: any): void {
    if (!this.isMobile) {
      e.preventDefault();
      let magic: any = document.querySelector(
        `.page-${this.currentPage} .magic`
      );
      let magicHalf = parseFloat(getComputedStyle(magic, null).width) / 2;

      if (magic.style.opacity === "1") {
        magic.style.animationFillMode = "initial";
      }

      magic.style.left = `${e.pageX - magicHalf}px`;

      if (e.pageY - magicHalf > -30) {
        magic.style.top = `${e.pageY - magicHalf / 2}px`;
      }
    }
  }

  private get fullPageControl(): any {
    return (this.$refs["fullPage"] as any).$fullpage;
  }

  private get pagePercentage(): number {
    return (this.currentPage / this.totalPages) * 100;
  }

  private get pagePercentageInlineStyle(): string {
    return `width: ${this.pagePercentage}%`;
  }

  private getTotalPages(): void {
    this.totalPages = this.fullPageControl.total;
  }

  private moveNext() {
    this.fullPageControl.moveNext();
  }

  public moveTo(page: number, animation: boolean) {
    this.fullPageControl.moveTo(page, animation);
  }

  private get isMobile(): boolean {
    return ScreenSizeUtil.isMobile();
  }

  private get isMobileOnly(): boolean {
    return ScreenSizeUtil.isMobileOnly();
  }

  private get isTablet(): boolean {
    return ScreenSizeUtil.isTablet();
  }
}
</script>

<style lang="scss">
.home {
  &.fullpage-container {
    position: fixed;
  }

  .current-page {
    display: none;

    @include media-breakpoint-up(lg) {
      @include orientation(landscape) {
        display: block;
      }
    }
  }
}
</style>
