<template>
  <transition appear>
    <div
      :class="[
        'page',
        `page-${slideNumber}`,
        { 'home-page': this.visibleOnHome, 'last-slide': lastSlide }
      ]"
    >
      <h1 :class="['animated fadeInUp', { title: lastSlide }]">
        {{ headerTitle }}
      </h1>

      <span v-if="!lastSlide" class="below-title animated fadeInUp">
        {{ bottomPageText }}
      </span>

      <template v-else v-for="(text, i) in bottomPageText">
        <span
          :key="i"
          :class="['below-title animated fadeInUp', contactText[i]]"
        >
          <template v-if="contactText[i] === 'officeMail'">
            <font-awesome-icon
              :icon="['fa', 'envelope']"
              color="#fff"
              size="lg"
            />
            <a :href="`mailto:${text}`">{{ text }}</a>
          </template>
          <template
            v-else-if="
              contactText[i] === 'mobile' || contactText[i] === 'secondMobile'
            "
          >
            <font-awesome-icon
              v-if="contactText[i] === 'mobile'"
              :icon="['fa', 'phone']"
              color="#fff"
              size="lg"
            />
            <a
              v-if="
                contactText[i] === 'mobile' || contactText[i] === 'secondMobile'
              "
              :href="`tel:${text}`"
              >{{ text }}</a
            >
          </template>
          <template v-else>
            <font-awesome-icon
              v-if="contactText[i] === 'street'"
              :icon="['fa', 'map-marker-alt']"
              color="#fff"
              size="lg"
              class="marker"
            />
            {{ text }}
          </template>
        </span>
      </template>

      <b-img
        v-show="isMobile && bgImageUrl"
        v-on:load="imageLoaded()"
        class="mobile-tablet-slide-image"
        :src="`./assets/images/mobile/${this.bgImageUrl}`"
        alt="Monus slide background image"
      />

      <div
        :class="[
          'mobile-bottom-slide-items justify-content-between align-self-stretch',
          {
            'mt-auto': isMobile && !lastSlide,
            'last-slide': isMobile && lastSlide
          }
        ]"
      >
        <b-button
          v-if="visibleOnHome && !lastSlide"
          :to="`/${exploreMoreLink}`"
          class="explore-more"
          >{{ $t("global.exploreMore") }}</b-button
        >
        <span
          v-if="!lastSlide && visibleOnHome"
          @click="moveNext"
          class="next-slide align-self-center next-slide-icon"
        >
          <font-awesome-icon :icon="['fa', 'arrow-right']" color="#fff" />
        </span>
      </div>

      <div
        v-if="!isMobile"
        :class="['magic', { hide: !visibleOnHome }]"
        :style="{
          background: magicContainerImage
        }"
      ></div>

      <div v-if="!lastSlide" class="bottom-items animated fadeInUp delay-800ms">
        <div
          :class="[
            'scroll pt-1',
            {
              'news-hotfix':
                headerTitle === $t('global.news') && slideNumber === 1
            }
          ]"
        >
          <!-- Hotfix for news page until we get some actual news from Monus -->
          <template
            v-if="headerTitle === $t('global.news') && slideNumber === 1"
          >
            There is no active news at the moment
          </template>
          <!-- End of hotfix -->

          <template v-else>
            <font-awesome-icon
              :icon="['fa', 'angle-double-down']"
              color="#fff"
            />
            <span>{{ $t("global.scroll") }}</span>
          </template>
        </div>
      </div>
    </div>
  </transition>
</template>

<script lang="ts">
import { Component, Vue, Prop } from "vue-property-decorator";

import { FullPageOptions } from "@/data-model";

import { ScreenSizeUtil } from "@/utils";

@Component
export default class Slide extends Vue {
  @Prop() slideNumber: number;
  @Prop() headerTitle: string;
  @Prop() bottomPageText: string;
  @Prop() bgImageUrl: string;
  @Prop() bgImagePositionX: number;
  @Prop() exploreMoreLink: string;
  @Prop() lastSlide: boolean;
  @Prop() moveNext: () => void;
  @Prop() scrollToCigarretteBlock: () => void;

  private contactText: string[] = [];

  mounted() {
    this.lastSlide && this.setContactText();
  }

  private setContactText(): void {
    this.contactText = [
      "street",
      "postcode",
      "city",
      "country",
      "officeMail",
      "mobile",
      "export",
      "secondMobile"
    ];
  }

  private get visibleOnHome(): boolean {
    return this.$route.path === "/home" ? true : false;
  }

  private get magicContainerImage(): string {
    return !this.isMobile && this.bgImageUrl
      ? `url(${require(`@/assets/images/${this.bgImageUrl}`)}) ${
          this.bgImagePositionX
        }px 50% / cover no-repeat fixed`
      : "";
  }

  private get isMobileOnly(): boolean {
    return ScreenSizeUtil.isMobileOnly();
  }

  private get isMobile(): boolean {
    return ScreenSizeUtil.isMobile();
  }

  private get isTablet(): boolean {
    return ScreenSizeUtil.isTablet();
  }

  private imageLoaded(): void {
    if (this.$route.hash === "#cigarrette-block")
      this.scrollToCigarretteBlock();
  }
}
</script>

<style lang="scss">
.zIndexOver {
  z-index: 100;
  position: relative;
}
p {
  color: #fff;
}
.fullpage-container {
  position: fixed;
  z-index: 100;

  @include media-breakpoint-down(lg) {
    height: calc(100% - 126px);
    top: 126px;
  }

  @include media-breakpoint-down(md) {
    height: calc(100% - 116px);
    top: 116px;
  }

  @include media-breakpoint-down(sm) {
    height: calc(100% - 86px);
    top: 86px;
  }
}

.page {
  padding-left: 110px;
  padding-top: 205px;

  @include orientation(portrait) {
    position: relative;
    display: flex;
    align-items: baseline;
    flex-direction: column;
  }

  @include media-breakpoint-down(lg) {
    padding-top: 120px;
    padding-left: 60px;
  }

  @include media-breakpoint-down(md) {
    padding: 5% 50px 0 50px;
    height: 100% !important;
  }

  @include media-breakpoint-down(sm) {
    padding: 10px 20px 0 20px;
  }

  &.last-slide {
    h1 {
      margin-left: 50px;
      font-size: 40px;

      @include media-breakpoint-down(lg) {
        margin-bottom: 30px;
        font-size: 36px;
      }

      @include media-breakpoint-down(md) {
        font-size: 26px;
      }

      @include media-breakpoint-down(sm) {
        font-size: 22px;
        margin-left: 30px;
      }

      @include media-breakpoint-xxs() {
        font-size: 20px;
      }
    }

    .below-title {
      display: block;
      font-size: 22px;
      margin: 0 0 0 50px;
      line-height: 1.5;
      min-height: initial;

      @include media-breakpoint-down(lg) {
        font-size: 17px;
      }

      @include media-breakpoint-down(md) {
        font-size: 22px;
      }

      @include media-breakpoint-down(sm) {
        font-size: 19px;
        margin-left: 30px;
      }

      @include media-breakpoint-xxs() {
        font-size: 18px;
      }

      &.postcode,
      &.city {
        display: inline-block;
        margin-right: 5px;
      }

      &.city {
        @include media-breakpoint-up(xl) {
          margin-left: 0;
        }
      }

      &.country,
      &.officeMail {
        margin-bottom: 35px;

        @include media-breakpoint-down(lg) {
          margin-bottom: 20px;
        }
      }

      .marker,
      .fa-envelope,
      .fa-phone {
        position: absolute;
        left: -43px;

        &.marker {
          left: -38px;

          @include media-breakpoint-down(sm) {
            left: -28px;
          }
        }

        @include media-breakpoint-down(sm) {
          left: -33px;
        }
      }

      a {
        color: $dirtyWhite;
      }
    }
  }

  h1 {
    font-family: "Montserrat-Bold";
    color: $dirtyWhite;
    font-size: 24px;
    max-width: 700px;
    margin: 0px 0px 20px 0px;
    line-height: 1;
    @extend .zIndexOver;

    &::first-letter {
      text-transform: uppercase;
    }

    @include media-breakpoint-down(lg) {
      font-size: 24px;
      line-height: 26px;
      margin-bottom: 60px;
    }

    @include media-breakpoint-down(md) {
      font-size: 24px;
      line-height: 26px;
      margin-bottom: 30px;
    }

    @include media-breakpoint-down(sm) {
      font-size: 18px;
      margin-bottom: 10px;
      line-height: 28px;
    }

    @include media-breakpoint-xxs() {
      font-size: 16px;
      line-height: 26px;
    }

    .svg-inline--fa {
      @include rotate(-37);
      margin-right: 10px;
      width: 0.7em;
      vertical-align: middle;

      &.fa-minus {
        transform: none;
        margin: 0 0 0 10px;
      }
    }
  }

  .below-title {
    color: $dirtyWhite;
    display: inline-block;
    max-width: 660px;
    font-family: "Montserrat-Regular";
    line-height: 1.4;
    font-size: 40px;
    margin-bottom: 40px;
    min-height: 280px;
    @extend .zIndexOver;

    @include media-breakpoint-down(lg) {
      font-size: 36px;
      line-height: 46px;
      margin-bottom: 85px;
      min-height: 180px;
    }

    @include media-breakpoint-down(md) {
      font-size: 36px;
      line-height: 46px;
      min-height: 200px;
      margin-bottom: 30px;
    }

    @include media-breakpoint-down(sm) {
      font-size: 19px;
      line-height: 28px;
      min-height: 150px;
    }

    @include media-breakpoint-xxs() {
      font-size: 18px;
    }
  }

  .mobile-bottom-slide-items {
    padding-bottom: 25px;
    display: flex;
    position: relative;
    z-index: 10;

    @include media-breakpoint-down(lg) {
      padding-bottom: 30px;
      padding-right: 70px;
    }

    @include media-breakpoint-down(md) {
      padding-right: 0;
    }

    @include media-breakpoint-down(sm) {
      padding-bottom: 20px;
    }

    &.last-slide {
      margin-top: 13%;
    }

    .next-slide {
      display: none;

      @include media-breakpoint-down(lg) {
        display: inline-block;
      }
    }
  }

  .mobile-tablet-slide-image {
    height: auto;

    @include media-breakpoint-between(lg, xl) {
      @include orientation(landscape) {
        position: absolute;
        width: calc(100% + 60px);
        margin: 0 0 0 -60px;
        bottom: 0;
        left: 60px;
      }
    }

    @include media-breakpoint-up(lg) {
      max-width: 100%;
      margin: 0 0 0 -60px;
      left: 60px;

      @include orientation(portrait) {
        max-width: calc(100% + 120px);
        margin: 0 0 0 -60px;
      }
    }

    @include media-breakpoint-bigger(1300px) {
      max-width: 100%;
      margin: 0 0 0 -110px;
      left: 110px;

      @include orientation(portrait) {
        max-width: calc(100% + 240px);
        margin: 0 0 0 -110px;
      }
    }

    @include media-breakpoint-down(md) {
      max-width: calc(100% + 100px);
      margin: 0 0 0 -50px;
    }

    @include media-breakpoint-down(sm) {
      max-width: calc(100% + 40px);
      margin: 0 0 0 -20px;
    }
  }

  .explore-more {
    background-color: $burlyWood;
    font-family: "Montserrat-Medium";
    font-size: 22px;
    text-align: center;
    color: #191614;
    line-height: 64px;
    padding: 0 26px;
    border: none;
    border-radius: initial;
    font-weight: bold;
    @extend .zIndexOver;

    @include media-breakpoint-down(lg) {
      line-height: 54px;
      font-size: 17px;
      padding: 0 27px;

      @include orientation(portrait) {
        line-height: 60px;
        font-size: 22px;
        padding: 0 34px;
      }
    }

    @include media-breakpoint-down(sm) {
      line-height: 40px;
      font-size: 16px;
      padding: 0 20px;
    }
  }

  .next-slide-icon {
    @include media-breakpoint-up(md) {
      font-size: 24px;
    }

    @include media-breakpoint-up(lg) {
      font-size: 30px;
    }
  }

  .magic {
    z-index: 5;
    position: absolute;
    top: calc(50% - 240px);
    left: calc(50% - 135px);
    width: 480px;
    height: 270px;
    background-size: cover;

    @include media-breakpoint-bigger(1600px) {
      width: 720px;
      height: 405px;
    }

    @include media-breakpoint-down(md) {
      display: none;
    }

    &.hide {
      top: 0 !important;
      left: 0 !important;
      width: 100% !important;
      height: 100% !important;
      z-index: 0;
    }
  }

  .bottom-items {
    display: none;
    position: absolute;
    left: 115px;
    bottom: 35px;
    right: 70px;
    min-height: 50px;
    @extend .zIndexOver;

    @include media-breakpoint-up(lg) {
      @include orientation(landscape) {
        display: block;
      }
    }

    .scroll {
      display: none;
      color: #fff;
      text-align: center;
      max-width: 80px;
      line-height: 1.5;

      @include media-breakpoint-up(xl) {
        display: block;
      }

      &.news-hotfix {
        font-family: "Montserrat-Regular";
        max-width: initial;
        text-align: left;
        font-size: 24px;
        line-height: 26px;
      }

      span {
        font-family: "Montserrat-Regular";
        font-size: 14px;
        display: block;
      }
    }

    .main-goal {
      max-width: 490px;
      position: absolute;
      right: 210px;
      bottom: 0;

      span {
        font-family: "Montserrat-Medium";
        color: $dirtyWhite;
        font-size: 18px;
        line-height: 1.5;
      }
    }
  }
}

.current-page {
  min-width: 160px;
  position: absolute;
  right: 70px;
  bottom: 50px;
  @extend .zIndexOver;

  span {
    font-family: "Montserrat-Regular";
    color: #fff;
    font-size: 14px;
    display: inline-block;
    margin-bottom: 13px;
  }

  .progress {
    height: 2px;
    background-color: #37312c;

    .progress-bar {
      background-color: #fff;
    }
  }
}
</style>
