@mixin font-face($font-family, $url) {
  @font-face {
    font-family: "#{$font-family}";
    src: url("#{$url}.ttf");
    src: url("#{$url}.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
}

@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} {
    @content;
  }
  @-moz-keyframes #{$animationName} {
    @content;
  }
  @-o-keyframes #{$animationName} {
    @content;
  }
  @keyframes #{$animationName} {
    @content;
  }
}

@mixin transform($transforms) {
  -moz-transform: $transforms;
  -o-transform: $transforms;
  -ms-transform: $transforms;
  -webkit-transform: $transforms;
  transform: $transforms;
}

@mixin backgroundSize($bgSize) {
  -webkit-background-size: $bgSize;
  -moz-background-size: $bgSize;
  -o-background-size: $bgSize;
  background-size: $bgSize;
}

@mixin rotate($deg) {
  @include transform(rotate(#{$deg}deg));
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};
}

@mixin transition($str) {
  -webkit-transition-property: -webkit-#{$str};
  -moz-transition-property: -moz-#{$str};
  -o-transition-property: -o-#{$str};
  transition-property: #{$str};
}

@mixin transitionDuration($str) {
  -webkit-transition-duration: #{$str};
  -moz-transition-duration: #{$str};
  -o-transition-duration: #{$str};
  transition-duration: #{$str};
}

@mixin rotation() {
  @include keyframes(rotate) {
    100% {
      @include transform(rotate(180deg));
    }
  }
}

@mixin rotateIconAnimation() {
  @include keyframes(rotate) {
    0% {
      @include transform(rotate(-12deg));
    }
    8% {
      @include transform(rotate(12deg));
    }
    10% {
      @include transform(rotate(24deg));
    }
    18% {
      @include transform(rotate(-24deg));
    }
    20% {
      @include transform(rotate(-24deg));
    }
    28% {
      @include transform(rotate(24deg));
    }
    30% {
      @include transform(rotate(24deg));
    }
    38% {
      @include transform(rotate(-24deg));
    }
    40% {
      @include transform(rotate(-24deg));
    }
    48% {
      @include transform(rotate(24deg));
    }
    50% {
      @include transform(rotate(24deg));
    }
    58% {
      @include transform(rotate(-24deg));
    }
    60% {
      @include transform(rotate(-24deg));
    }
    68% {
      @include transform(rotate(24deg));
    }
    75% {
      @include transform(rotate(0deg));
    }
  }
}
