@include font-face("Montserrat-Regular", $fonts + "Montserrat-Regular");
@include font-face("Montserrat-Medium", $fonts + "Montserrat-Medium");
@include font-face("Montserrat-SemiBold", $fonts + "Montserrat-SemiBold");
@include font-face("Montserrat-Bold", $fonts + "Montserrat-Bold");

body {
  display: block;
  background: url($assets+"/images/homepage_background_image.jpg") no-repeat
    center center fixed;
  font-family: "Montserrat-Regular";
  @include backgroundSize(cover);
}
