<template>
  <b-nav vertical class="footer-links">
    <b-nav-item v-for="(link, key) in footerLinks" :key="key" :to="link.to">{{
      link.name
    }}</b-nav-item>
  </b-nav>
</template>

<script lang="ts">
import { Component, Vue, Prop } from "vue-property-decorator";

import { FooterLink } from "@/data-model";

@Component
export default class FooterNav extends Vue {
  @Prop() footerLinks: FooterLink[];
}
</script>

<style lang="scss" scoped>
.footer-links {
  padding-top: 10px;

  @include media-breakpoint-down(md) {
    padding-top: 0;
  }

  .nav-item {
    margin-bottom: 30px;

    &:last-child {
      margin: 0;
    }

    @include media-breakpoint-down(md) {
      margin-bottom: 10px;
    }

    .nav-link {
      font-family: "Montserrat-SemiBold";
      color: #a98970;
      font-size: 14px;
      line-height: 18px;
      padding: 0;
      @include transition(color 0.2s);

      &:hover,
      &.router-link-active {
        color: #fff;
      }
    }
  }
}
</style>
