<template>
  <footer class="footer">
    <b-container>
      <div class="upper-footer">
        <b-row>
          <b-col cols="12" md="3">
            <b-link to="/home">
              <Logo class="footer-logo" />
            </b-link>
          </b-col>

          <b-col cols="7" md="6">
            <FooterNav :footerLinks="links" />
          </b-col>

          <b-col cols="5" md="3">
            <b-row>
              <div class="belgrade">
                <h3>{{ $t("contact.title") }}</h3>
              </div>
              <b-col cols="12" md="7">
                <b-row class="flex-column">
                  <span class="street">{{ $t("contact.street") }}</span>
                  <span class="postcode"
                    >{{ $t("contact.postcode") }} {{ $t("contact.city") }}</span
                  >
                  <span class="country mb-3">{{ $t("contact.country") }}</span>
                  <span class="mail">{{ $t("contact.mail") }}</span>
                  <b-link
                    :href="`mailto:${$t('contact.officeMail')}`"
                    class="telephone mb-3"
                    >{{ $t("contact.officeMail") }}</b-link
                  >
                  <span class="tel">{{ $t("contact.tel") }}</span>
                  <b-link
                    :href="`tel:${$t('contact.mobile')}`"
                    class="telephone mb-3"
                    >{{ $t("contact.mobile") }}</b-link
                  >
                </b-row>
              </b-col>
            </b-row>
          </b-col>
        </b-row>
      </div>
      <div class="bottom-footer">
        <b-row>
          <b-col cols="8" lg="6" order="1">
            <span class="copyright"
              >&copy; {{ `${currentYear()} ${$t("footer.copyright")}` }}</span
            >
          </b-col>

          <b-col
            cols="4"
            lg="6"
            order="2"
            class="mentions-languages justify-content-end"
          >
            <!-- LEGAL MENTIONS -->
            <!-- <b-link href="#" class="legal-mentions">
              {{ $t("footer.legalMentions") }}
            </b-link> -->

            <Languages />
          </b-col>
        </b-row>
      </div>
    </b-container>
  </footer>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import Logo from "@/components/Logo.vue";
import FooterNav from "@/components/FooterNav.vue";
import Languages from "@/components/Languages.vue";

import { FooterLink, SvgOptions } from "@/data-model";

import { LogoService, LocalizationService } from "@/services";

@Component({
  components: {
    Logo,
    FooterNav,
    Languages
  }
})
export default class Footer extends Vue {
  private links: FooterLink[] = [];
  private ourCompany: FooterLink;
  private whatWeDo: FooterLink;
  private ourBrands: FooterLink;
  private globalFootprint: FooterLink;
  private news: FooterLink;
  private contactUs: FooterLink;

  created() {
    this.populateFooterLinks();
  }

  private currentYear(): string {
    const d = new Date();
    return d.getFullYear().toString();
  }

  private populateFooterLinks(): void {
    this.ourCompany = new FooterLink(
      this.translate("header.ourCompany"),
      "/our-company"
    );
    this.whatWeDo = new FooterLink(
      this.translate("header.whatWeDo"),
      "/what-we-do"
    );
    this.ourBrands = new FooterLink(
      this.translate("header.ourBrands"),
      "/our-brands"
    );
    this.globalFootprint = new FooterLink(
      this.translate("header.globalFootprint"),
      "/global-footprint"
    );
    this.news = new FooterLink(this.translate("header.news"), "/news");
    this.contactUs = new FooterLink(
      this.translate("header.contactUs"),
      "/contact"
    );

    this.links.push(
      this.ourCompany,
      this.whatWeDo,
      this.ourBrands,
      this.globalFootprint,
      this.news,
      this.contactUs
    );
  }

  private translate(label: string): string {
    return LocalizationService.textTranslate(label);
  }
}
</script>

<style lang="scss" scoped>
.footer {
  padding: 70px 0 40px 0;
  background: #2e2420;

  @include media-breakpoint-down(sm) {
    padding: 25px 0;
  }

  .upper-footer {
    padding-bottom: 100px;
    border-bottom: 1px solid #493d32;
    margin-bottom: 30px;

    @include media-breakpoint-down(md) {
      padding-bottom: 50px;
      margin-bottom: 25px;
    }

    @include media-breakpoint-down(sm) {
      padding-bottom: 15px;
    }

    .footer-logo {
      width: 105px;
      height: 105px;
      fill: #a98970;

      @include media-breakpoint-down(sm) {
        width: 53px;
        height: 60px;
        margin: 0 auto 15px auto;
      }
    }

    .belgrade {
      position: relative;
      margin-bottom: 15px;

      h3 {
        font-family: "Montserrat-Bold";
        color: #fff;
        font-size: 40px;

        @include media-breakpoint-down(md) {
          font-size: 24px;
        }

        @include media-breakpoint-down(sm) {
          font-size: 16px;
        }
      }
    }

    .street,
    .city,
    .country,
    .postcode,
    .mail,
    .tel {
      font-family: "Montserrat-SemiBold";
      font-size: 12px;
      color: #a98970;
      line-height: 1.5;
    }

    .telephone {
      @extend .street;
      @include transition(color 0.2s);

      &:hover {
        color: #fff;
        text-decoration: none;
      }
    }
  }

  .bottom-footer {
    .copyright {
      color: #fff;
      font-size: 12px;
      line-height: normal;
      font-family: "Montserrat-SemiBold";
    }

    .mentions-languages {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .legal-mentions {
        font-family: "Montserrat-SemiBold";
        font-size: 12px;
        color: #a98970;
        line-height: normal;
        @include transition(color 0.2s);

        @include media-breakpoint-up(md) {
          margin-left: auto;
        }

        &:hover {
          color: #fff;
          text-decoration: none;
        }
      }
    }
  }
}
</style>
