<template>
  <header
    :class="[
      'header',
      { zIndexOver: hamburgerOpen || !isMobile(), 'initial-height': scrollBg }
    ]"
  >
    <b-navbar
      :class="{
        hide: !isVisible,
        'scroll-bg': scrollBg,
        'hamburger-opened': hamburgerOpen
      }"
      toggleable="lg"
      fixed="top"
    >
      <b-navbar-brand @click="goHome">
        <Logo />
      </b-navbar-brand>

      <b-navbar-toggle
        :class="['hamburger', { opened: hamburgerOpen }]"
        target="nav-collapse"
      >
        <HamburgerIcon
          :class="['hamburger-icon-menu', { hide: hamburgerOpen }]"
        />
        <HamburgerIconClose
          :class="[
            'hamburger-icon-close',
            {
              hide: !hamburgerOpen
            }
          ]"
        />
      </b-navbar-toggle>

      <b-collapse id="nav-collapse" is-nav :class="['menu-items', menuClasses]">
        <Nav :navLinks="navLinks" :class="{ home: isHome }" />
        <div
          v-if="isMobile()"
          class="bottom-menu-info justify-content-between align-self-stretch mt-auto"
        >
          <div class="contact-info">
            <span class="belgrade">{{ $t("global.belgrade") }}</span>
            <span class="address">{{ $t("global.address") }}</span>
            <span class="phone">+381 8576 58576</span>
          </div>

          <Languages classProp="mt-auto" />
        </div>
      </b-collapse>
    </b-navbar>
  </header>
</template>

<script lang="ts">
import { Component, Vue, Watch } from "vue-property-decorator";
import Logo from "@/components/Logo.vue";
import Nav from "@/components/Nav.vue";
import Languages from "@/components/Languages.vue";
import HamburgerIcon from "@/assets/images/mobile/menu.svg";
import HamburgerIconClose from "@/assets/images/mobile/menu_close.svg";

import { FooterLink, SvgOptions } from "@/data-model";

import { EventBus, LocalizationService, LogoService } from "@/services";
import { ScreenSizeUtil } from "@/utils";

@Component({
  components: {
    HamburgerIcon,
    HamburgerIconClose,
    Logo,
    Nav,
    Languages
  }
})
export default class Header extends Vue {
  private isVisible: boolean = true;
  private scrollBg: boolean = false;
  private hamburgerOpen: boolean = false;
  private navLinks: FooterLink[] = [];
  private ourCompany: FooterLink;
  private whatWeDo: FooterLink;
  private ourBrands: FooterLink;
  private globalFootprint: FooterLink;
  private news: FooterLink;
  private contactUs: FooterLink;

  created() {
    this.populateNavLinks();
  }

  mounted() {
    this.setDefaultState();

    EventBus.$on("visibleHeader", this.headerVisible);
    this.$root.$on(
      "bv::collapse::state",
      (collapseId: string, isJustShown: boolean) => {
        this.$nextTick(() => {
          this.hamburgerOpen = isJustShown;
        });
      }
    );
  }

  beforeDestroy() {
    EventBus.$off("visibleHeader", this.headerVisible);
  }

  @Watch("$route")
  private setDefaultState(): void {
    this.isVisible = true;
    this.scrollBg = false;
    this.collapseMenu();

    if (this.$route.params.name || this.$route.name === "otherBrands")
      this.scrollBg = true;
  }

  private get isHome(): boolean {
    return this.$route.path === "/home";
  }

  private handleResize(): void {
    this.isMobile();
  }

  private goHome(event: any): void {
    this.$router.push("/home");
  }

  private collapseMenu(): void {
    if (this.isMobile() && this.hamburgerOpen)
      this.$root.$emit("bv::toggle::collapse", "nav-collapse");
  }

  private populateNavLinks(): void {
    this.ourCompany = new FooterLink(
      this.translate("header.ourCompany"),
      "/our-company"
    );
    this.whatWeDo = new FooterLink(
      this.translate("header.whatWeDo"),
      "/what-we-do"
    );
    this.ourBrands = new FooterLink(
      this.translate("header.ourBrands"),
      "/our-brands"
    );
    this.globalFootprint = new FooterLink(
      this.translate("header.globalFootprint"),
      "/global-footprint"
    );
    this.news = new FooterLink(this.translate("header.news"), "/news");
    this.contactUs = new FooterLink(
      this.translate("header.contactUs"),
      "/contact"
    );

    this.navLinks.push(
      this.ourCompany,
      this.whatWeDo,
      this.ourBrands,
      this.globalFootprint,
      this.news,
      this.contactUs
    );
  }

  private translate(label: string): string {
    return LocalizationService.textTranslate(label);
  }

  private headerVisible(visible: boolean, scrollPos: number): void {
    this.isVisible = visible;

    if (!this.$route.params.name && this.$route.name !== "otherBrands") {
      if (scrollPos > 150) this.scrollBg = true;
      else this.scrollBg = false;
    }
  }

  private get menuClasses(): string {
    return this.hamburgerOpen ? "d-flex flex-column align-self-end" : "";
  }

  private isMobile(): boolean {
    return ScreenSizeUtil.isMobile();
  }

  private isMobileOnly(): boolean {
    return ScreenSizeUtil.isMobileOnly();
  }

  private isTablet(): boolean {
    return ScreenSizeUtil.isTablet();
  }
}
</script>

<style lang="scss" scoped>
.header {
  position: relative;
  z-index: 10;
  @include transition(all 0.4s);

  &.zIndexOver {
    z-index: 1000;
  }

  @include media-breakpoint-between(xs, sm) {
    height: 66px;

    &.initial-height {
      height: 0;
    }
  }

  @include media-breakpoint-up(md) {
    height: 96px;

    @include orientation(landscape) {
      height: 106px;
    }

    &.initial-height {
      height: 0;
    }
  }

  @include media-breakpoint-up(lg) {
    @include orientation(portrait) {
      height: 106px;
    }
  }

  @include media-breakpoint-up(xl) {
    z-index: 1000;

    @include orientation(landscape) {
      position: fixed;
    }
  }

  .navbar-light {
    &.navbar {
      padding: 12px 60px 12px 70px;

      @include transition(all 0.4s);

      @include media-breakpoint-down(lg) {
        padding: 20px 60px;
        align-items: baseline;
        z-index: 0;
      }

      @include media-breakpoint-down(md) {
        padding: 20px 50px;
        bottom: calc(100% - 96px);
      }

      @include media-breakpoint-down(sm) {
        padding: 10px 25px;
        bottom: calc(100% - 66px);
      }

      .navbar-brand {
        padding: 0;

        svg {
          width: 40px;
          height: 40px;
          fill: #fff;

          @include media-breakpoint-up(md) {
            width: 60px;
            height: 60px;
          }

          @include media-breakpoint-up(lg) {
            @include orientation(portrait) {
              width: 70px;
              height: 70px;
            }
          }
        }

        @include media-breakpoint-only(xs) {
          max-width: 35px;
        }

        @include media-breakpoint-up(lg) {
          line-height: 66px;
        }
      }

      &.hide {
        top: -100px;
        bottom: 100%;
      }

      &.scroll-bg {
        background: #2e2420;
      }

      &.hamburger-opened {
        background: #211a17;
        z-index: 1030;
        bottom: 0;

        @include media-breakpoint-down(md) {
          padding: 20px 50px 50px 50px;
        }

        @include media-breakpoint-down(sm) {
          padding: 10px 25px 30px 25px;
        }
      }

      .hamburger {
        width: 90px;
        padding: 0;
        margin-right: -40px;
        border: none;
        @include transition(margin, 0.2s);

        &.opened {
          @include media-breakpoint-down(md) {
            margin-right: 0;
          }

          @include media-breakpoint-down(sm) {
            margin-right: -20px;
          }
        }

        &:focus,
        &:active,
        &:hover,
        &:active:focus {
          border: none;
          outline: none;
        }

        .hamburger-icon-menu {
          width: 30px;
          height: 14px;
          fill: $dirtyWhite;
          opacity: 1;
          @include transition(opacity, 0.2s);

          @include media-breakpoint-up(md) {
            width: 40px;
            height: 18px;
          }

          &.hide {
            opacity: 0;
          }
        }

        .hamburger-icon-close {
          width: 16px;
          height: 16px;
          @extend .hamburger-icon-menu;

          @include media-breakpoint-up(md) {
            width: 32px;
            height: 32px;
          }
        }
      }

      .menu-items {
        @include media-breakpoint-down(md) {
          visibility: hidden;
          height: calc(100% - 50px);

          &.show {
            visibility: visible;
          }
        }

        .bottom-menu-info {
          font-family: "Montserrat-SemiBold";
          font-size: 12px;
          line-height: normal;
          display: flex;

          @include media-breakpoint-up(lg) {
            display: none;
          }

          .contact-info {
            max-width: 135px;

            @include media-breakpoint-only(md) {
              max-width: 220px;
            }

            .belgrade {
              color: #fff;
              font-size: 22px;
              font-family: "Montserrat-Bold";
              margin-bottom: 10px;
              display: block;

              @include media-breakpoint-up(md) {
                font-size: 36px;
                line-height: normal;
                margin-bottom: 20px;
              }
            }

            .address,
            .phone {
              color: #a98970;
              margin-bottom: 10px;
              display: block;

              @include media-breakpoint-up(md) {
                font-size: 20px;
                margin-bottom: 20px;
              }
            }

            .phone {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
}
</style>
