<template>
  <div :class="['d-inline-block languages', classProp]">
    <b-link href="#" :class="{ active: isActiveLanguage('sr') }">
      {{ $t("global.language.sr") }}
    </b-link>
    <b-link href="#" :class="{ active: isActiveLanguage('en') }">
      {{ $t("global.language.en") }}
    </b-link>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from "vue-property-decorator";

import { LocalizationService } from "@/services";

@Component
export default class Languages extends Vue {
  @Prop() classProp: string;

  private isActiveLanguage(lang: string): boolean {
    return LocalizationService.getLocalization() === lang;
  }
}
</script>

<style lang="scss">
.languages {
  margin-left: 12px;

  a {
    font-family: "Montserrat-SemiBold";
    font-size: 12px;
    color: #a98970;
    line-height: normal;
    margin-left: 12px;
    @include transition(color 0.2s);

    &.active {
      color: #fff;

      &:hover {
        color: #fff;
      }
    }

    &:hover {
      text-decoration: none;
      color: #a98970;

      @include media-breakpoint-up(lg) {
        color: #fff;
      }
    }
  }
}
</style>
