<template>
  <MonusLogo @click="moveToFirstSlide" class="logo" :style="logoStyle" />
</template>

<script lang="ts">
import { Component, Vue, Prop } from "vue-property-decorator";
import Home from "@/components/home/Home.vue";
import MonusLogo from "@/assets/images/monus_logo.svg";

import { SvgOptions } from "@/data-model";

import { EventBus } from "@/services";

@Component({
  components: {
    MonusLogo
  }
})
export default class Logo extends Vue {
  @Prop() logoStyle?: SvgOptions;

  private moveToFirstSlide() {
    if (this.$route.path === "/home") EventBus.$emit("moveToSlide", 0, true);
  }
}
</script>

<style lang="scss" scoped>
.logo {
  &:hover {
    cursor: pointer;
  }
}
</style>
