<template>
  <b-navbar-nav class="navigation">
    <b-nav-item
      v-for="(link, key) in navLinks"
      :key="key"
      :to="link.to"
      :class="['animated', { divider: dividerClassShow(link) }]"
      @mouseover="hover"
      @mouseout="removeHover"
      >{{ link.name }}</b-nav-item
    >
  </b-navbar-nav>
</template>

<script lang="ts">
import { Component, Vue, Prop } from "vue-property-decorator";

import { FooterLink } from "@/data-model";

import { ScreenSizeUtil } from "@/utils/ScreenSizeUtil";

@Component
export default class Nav extends Vue {
  @Prop() navLinks: FooterLink[];

  private isLinkName(event: any, name: string): boolean {
    return event.name === name;
  }

  private hover(e: any) {
    e.target.parentElement.classList.add("pulse");
  }

  private removeHover(e: any) {
    e.target.parentElement.classList.remove("pulse");
  }

  private dividerClassShow(event: any): boolean {
    return this.isLinkName(event, "contact us");
  }
}
</script>

<style lang="scss" scoped>
.navbar-light {
  .navbar-nav {
    &.navigation {
      @include orientation(landscape) {
        margin-left: auto;
      }

      @include orientation(portrait) {
        @include media-breakpoint-up(lg) {
          @include orientation(portrait) {
            margin-left: auto;
          }
        }

        @include media-breakpoint-down(md) {
          margin-top: auto;
          margin-right: auto;
        }

        @include media-breakpoint-xxs() {
          margin-top: auto;
        }
      }

      .nav-item {
        margin: 0 15px;

        @include media-breakpoint-down(md) {
          margin: 0 0 10px 0;
        }

        @include media-breakpoint-down(sm) {
          margin: 0;
        }

        &.divider {
          border: none;
          padding-left: 45px;
          margin: 0 0 0 45px;

          @include media-breakpoint-up(md) {
            @include orientation(landscape) {
              border-left: 1px solid #d5c8c3;
            }
          }

          @include orientation(portrait) {
            padding-left: 0;
            margin: 0;

            @include media-breakpoint-up(lg) {
              border-left: 1px solid #d5c8c3;
              padding-left: 45px;
              margin: 0 0 0 45px;
            }
          }
        }

        &:last-child {
          margin-right: 0px;

          @include media-breakpoint-up(lg) {
            @include orientation(landscape) {
              padding-left: 45px;
            }
          }
        }

        .nav-link {
          color: $dirtyWhite;
          font-family: "Montserrat-SemiBold";
          padding: 0;
          font-size: 14px;
          opacity: 0.7;
          line-height: 24px;

          &:hover,
          &:focus,
          &:active,
          &.router-link-active {
            color: $dirtyWhite;
            opacity: 1;
          }

          @include media-breakpoint-down(lg) {
            font-size: 16px;
          }

          @include media-breakpoint-down(md) {
            font-family: "Montserrat-Bold";
            font-size: 46px;
            line-height: 80px;
            text-transform: uppercase;
          }

          @include media-breakpoint-down(sm) {
            font-size: 28px;
            line-height: 50px;
            outline: none;
            border: none;
          }

          @include media-breakpoint-xxs() {
            font-size: 23px;
            line-height: 40px;
          }
        }
      }
    }
  }
}
</style>
