<template>
  <div id="app">
    <transition appear>
      <router-view></router-view>
    </transition>
    <div
      class="please-rotate flex-column align-items-center justify-content-center"
    >
      <font-awesome-icon :icon="['fa', 'mobile-alt']"></font-awesome-icon>
      <span>Please rotate your device</span>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

@Component
export default class App extends Vue {
  constructor() {
    super();
  }
}
</script>

<style lang="scss">
@import "@/assets/scss/style.scss";

.fade-enter-active,
.fade-leave-active {
  transition-duration: 1s;
  transition-property: opacity;
  transition-timing-function: ease;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

.please-rotate {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -9999;
  background: #211a17;
  text-align: center;
  color: #fff;
  font-size: 100px;
  @include rotateIconAnimation();

  @include media-breakpoint-down(md) {
    @include orientation(landscape) {
      display: flex;
      z-index: 9999;
    }
  }

  svg {
    @include animation(rotate 2.5s ease infinite);
    margin-bottom: 15px;
  }

  span {
    font-size: 15px;
    font-family: "Montserrat-Medium";
  }
}
</style>
